
<div id="packing" ng-controller="harsamBoxingCtrl">    
  <div class="section">
    <div class="block">
      <form>
        FT Box #: <input type="text" ng-model="form.ft_box_num" ><br>
        Size: <input type="text" ng-model="form.size" ><br>
        Grade: <input type="text" ng-model="form.grade" ><br>
        <input type="button" ng-click="makebox(form)" value="Create" />
      </form>
    </div>
    
  </div>
  <div class="section">
    <form>
      Entry Id: <input type="text" ng-model="entry_id">
      <input type="button" ng-click="addLoin(entry_id)" value="Add"><br>
      <input type="button" ng-click="done()" value="Calculate Total Weight"><br>
    </form>
    <form>
      <input type="button" value="print">
    </form>
  </div>
  <div class="section">
    <div class="block">
      <ul>
        <li>Box id: {{box.id}}</li>
        <li>FT Box #: {{box.ft_box_num}}</li>      
        <li>Size: {{box.size}}</li>
        <li>Grade: {{box.grade}}</li>
        <li>Packing Date: {{box.packing_date | stringtodate |date : format : shortDate}}</li>
        <li>Best Before Date: {{box.best_before_date}}</li>
        <hr>
        <li>Weight: {{box.weight}}kg</li>
        <li>Lot Number: {{box.lot_number}}</li>
      </ul>
    </div>
    <div class="block verticalLine">
      <table>  
        <tr ng-repeat="entry in includedentries">
          <td>{{entry.weight_1}}kg</td>
          <td>{{entry.lot_number}}</td>
          <td>{{entry.grade}}</td>
          <td ng-click="remove(entry.id)">Remove</td>
        </tr>
      </table>
    </div>
  </div>
    
  </div>
