<div class = "wrapper">
  

  <div class = "outline" ng-controller="harsamReceivingCtrl">
    <div class = "admin">
      {{current_lot_number}}
    </div>
    <form class = "form">
      Weight Plastic: <input type="number" ng-model="fish.w1" />kg<br />
      Weight No Plastic: <input type="number" ng-model="fish.w2" />kg<br />
      <input type="button" ng-click="ClearEntry()" value="Clear" />
      <input type="button" ng-click="update(fish)" value="Create" />
      <input type="button" ng-click="submit($event)" value="Submit" />
    </form>
    <pre>entry = {{entry | json}}</pre>
  </div>


  <div class = "outline" ng-controller="harsamTrimmingCtrl">
    <div class = "admin">
      {{current_lot_number}}
    </div>
    <form class = "form">
      Weight: <input type="number" ng-model="fish.w1" />kg<br />
      Grade: <input type="radio" ng-model="fish.grade" value="A" />A
      <input type="radio" ng-model="fish.grade" value="B" />B
      <input type="radio" ng-model="fish.grade" value="C" />C
      <input type="radio" ng-model="fish.grade" value="D" />D<br />
      <input type="button" ng-click="ClearEntry()" value="Clear" />
      <input type="button" ng-click="update(fish)" value="Create" />
      <input type="button" ng-click="submit($event)" value="Submit" />
    </form>
    <pre>entry = {{entry | json}}</pre>
  </div>


</div>






