.wrapper{
  width: 1400px;
  margin: 0 auto;
}
.admin{
  height: 80px;
  width: 100%;
  outline: solid 7px;
}
.outline{ 
  width: 49.6%;
  display: inline-block;
  vertical-align: top;  
}
.summary{
  height:720px;
  overflow: scroll;
  outline: solid 7px;
}
.input{
  height:720px;
  outline: solid 7px;
}
.view{
  background-color: #454A4A;
  color: #737373;;
  width: 160px;
  height: 80px;
  padding-left: 5px;
  box-shadow: 3px 3px 2px #737373;
}
.view:hover{
  color:white;
}

.fill{
  width: 100%;

}
.fill tr:nth-child(even) {
  background-color: #EBEDED;
}
.fill tr:nth-child(odd) {
  background-color: #C2C4C4;
}


.sidebar{
  background-color: #08736C;
  float: left;
  margin-top: -40px;
  height: 100vh;
  width: 250px;
}

.main {
  background-color: #B9C4C4;
  width: 100%;
  margin-left:315px;
  border-radius: 20px;
  padding-top: 50px;
}
.step{
  width: 900px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 5px 5px 3px #616363;
  margin-left: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.table{
  padding-left: 40px;
}





.button{
    background-color: #8DA6F2;
    color: #454746;
    text-align: center;
    vertical-align: center;
    box-shadow: 2px 2px 1px #737373;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    margin-bottom: 3px;
}

.button p{
    color:#454746;
    text-decoration: none;
    margin: 0 0 0 0;
}
.button p:hover{
    color: white;
}

.selectlot{
    margin-top: 50px;
    margin-left: 300px;
    color:#454746;
    display: inline-block;
}
body{
    font-family: "proxima-nova-1", "proxima-nova-2", Verdana, sans-serif;
    font-size: 30px;
    margin: 0 0 0 0;
    height: 100%;
}
h1{
    margin: 0 0 0 0;
    font-size: 40px;
    font-style: italic;
}
tr{
    height: 60px;
}



th{
    font-size: 25px;
    font-style: normal;
    padding-right: 10px;
    padding-left: 10px;
}
td{
    font-size: 22px;
    font-style: normal;
    text-align:center;
    padding-right: 15px;
    padding-left: 15px;
}
.selectlot tr{
    outline: solid 1px;
}
.selected{
    outline: solid 7px #9E6C42 !important;
    background-color: #B2CCA9;
}
.block{
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
}



/*nav bar */

nav ul ul {
    display: none;
}

    nav ul li:hover > ul {
        display: block;
    }
nav ul {
    background: #efefef; 
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 15px;
    border-radius: 10px;  
    list-style: none;
    position: relative;
    display: inline-table;
    margin-top:0px;
    padding-left:100px;
}
    nav ul:after {
        content: ""; clear: both; display: block;
    }
nav ul li {
    float: left;
}
    nav ul li:hover {
        background: #4b545f;
        background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
        background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
        background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
    }
        nav ul li:hover a {
            color: #fff;
        }
    
    nav ul li a {
        display: block; padding: 15px 40px;
        color: #757575; text-decoration: none;
    }
    nav ul ul {
    background: #5f6975; border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
}
    nav ul ul li {
        float: none; 
        border-top: 1px solid #6b727c;
        border-bottom: 1px solid #575f6a;
        position: relative;
    }
        nav ul ul li a {
            padding: 15px 40px;
            color: #fff;
        }   
            nav ul ul li a:hover {
                background: #4b545f;
            }
