@font-face {
  font-family: 'Lato-BlackItalic';
  src: url('/fonts/Lato-BlackItalic.ttf');
}

@font-face {
  font-family: 'Lato-Black';
  src: url('/fonts/Lato-Black.ttf');
}

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url('/fonts/Lato-BoldItalic.ttf');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato-Italic';
  src: url('/fonts/Lato-Italic.ttf');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('/fonts/Lato-Regular.ttf');
}

html {
  padding-bottom: 10px;
  height: 100%;
  box-sizing: border-box;
}
/*
*,
*:before,
*:after {
  box-sizing: inherit;
}
*/
body{
    font-family: "proxima-nova-1", Verdana, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    min-height: 100%;
    position:relative;
    background-image: url(/images/background.png);
    background-repeat: repeat;
    background-position: left top;
}
.container {
  min-height:100%;
  position:relative;
  padding: 10px;
}
.top_frame {
  height: 10px;
  width: 100%;
  background-image: linear-gradient(180deg, rgba(10,10,10,0.4) 0%, rgba(153,145,153,0) 10px);
  background-repeat: no-repeat;
  background-position: center top;
}
.bottom_frame {
  height: 10px;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(10,10,10,0.4) 0%, rgba(153,145,153,0) 100%);
  background-repeat: no-repeat;
  background-position: center bottom;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
}
.left_frame {
  width: 10px;
  position: absolute;
  left: 0;
  top: 4px;
  bottom: 4px;
  background-image: linear-gradient(90deg, rgba(10,10,10,0.4) 0%, rgba(153,145,153,0) 10px);
  background-position: left center;
  background-repeat: no-repeat;
}
.right_frame {
  width: 10px;
  position: absolute;
  right: 0;
  top: 4px;
  bottom: 4px;
  background-image: linear-gradient(270deg, rgba(10,10,10,0.4) 0%, rgba(153,145,153,0) 10px);
  background-position: right center;
  background-repeat: no-repeat;
}
.footer {
  margin-top: 20px;
  height: 80px;
  width: 100%;
}
#tally_o_logo {
  display: inline-block;
  width: 189px;
  height: 33px;
  margin-top: 10px;
  margin-left: 20px;
  background-image: url(/images/tally_o.svg);
  background-repeat: no-repeat;
}
#open_license {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
}
#thisfish_logo {
  display: table-cell;
  width: 105px;
  height: 54px;
  margin: 0 10px;
  background-image: url(/images/thisfish_logo.svg);
  background-repeat: no-repeat;
}
.footer #copyright {
  height: 54px;
  float: right;
  margin: 0 20px 10px;
  color: white;
  display: table;
}
.overallframe{
  width:900px;
  height:804px;
  display: inline-block;
  vertical-align: top;
}
.stationframe{
  width:900px;
  margin-left:50px;
  height:700px;
  outline: solid 3px;
  background-color: white;

}

.stationframevertical{
  width:500px;
  margin-left:50px;
  height:100%;
  outline: solid 3px;
  background-color: white;
  margin-right: -47px;
  display: inline-block;
  vertical-align: top;
}




.columnframe{
  width:446px;
  height:700px;
  outline: solid 3px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
}

.columnframewide{
  width:566px;
  height:700px;
  outline: solid 3px;
  background-color: white;
}

.panel {
  display: inline-block;
  box-shadow: 2px 2px 6px;
  padding: 20px;
}

.station .panel:first-child {
  padding-top: 30px;
}

.panel.grey {
  background-color: #ebebeb;
}

.panel.white {
  background-color: white;
}
.panel.item-details {
  background-color: #f6f6f4;
  width: 100%;
  box-sizing:border-box;
  padding-top: 10px;
}

#station-HS0-001 .panel {
  width: 550px;
}

.columnframenarrow{
  width:326px;
  height:700px;
  outline: solid 3px;
  background-color: white;
}


.stationframe2{
  width:900px;
  margin-left:50px;
  height:400px;
  outline: solid 3px;
  background-color: white;
}

.columnframe2{
  width:450px;
  height:400px;
  outline: solid 3px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
}

.sectionframe{
  width:auto;
  outline: solid 2px #336B7D;
  margin-top:10px;
  margin-bottom:10px;
}

.itemsframe{
  height: 200px;
  overflow:scroll;
}

.bluefill{
  background-color: #225363;
  color:#B8BFC2;
  opacity: 0.7;
}
.bluefill td{
    width: 50px;
}
.redfill{
  background-color: red;
}
.greenfill{
  background-color: green;
}
.blueoutline{
  #outline: blue solid 2px;
  #background-color: #84A3AD;
  opacity: 1;
}

.selectedlot{
  outline: solid 3px #5AC8ED;
}

.errortext{
  font-size: 10px;
  color: red;
}

ng-submitted ng-invalid { 
  background: red; 
}

.scaletext{
  color: #0A7091;
}

.small td{
  font-size: 12px;
}

.errorfield{
  background-color: #B37470;
}

.bottomright{
  position: absolute;
  bottom:0;
  right:0;
}
.bottomleft{
  position: absolute;
  bottom:0;
  left:0;
}


a:hover {
  text-decoration: underline;
}

.popup {
  display: inline-block;
  position: absolute;
  top:0.75em;
  border: solid black 1px;
  background: lightgray;
  padding:4px;
}

.navbutton{
  margin-left: 70px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}


.form-text{
  font-family: "proxima-nova-1", "proxima-nova-2", Verdana, sans-serif;
  font-weight: 700;
  color: #006b98;
  font-size: 13px;
  line-height: 1.2em;
  padding-top:10px;
}
.form-text td{
  text-align:right;
}
.form-text .field{
  text-align:left;
  font-size:20px;
}
.form-text input[type="text"]{
  padding: 0.3em 0.3em 0.4em;
  border: 1px solid #cae2eb;
  background: #dbebef;
  width: 94%;
  font-size: 14px;
  line-height: 1.2em;
  text-align:left;
}

.form-text input[type="number"]{
  padding: 0.3em 0.3em 0.4em;
  border: 1px solid #cae2eb;
  background: #dbebef;
  width: 40%;
  font-size: 18px;
  line-height: 1.4em;
  text-align: left;
}
.form-text select{
  padding: 0.3em 0.3em 0.4em;
  border: 1px solid #cae2eb;
  background: #dbebef;
  width: 94%;
  font-size: 14px;
  line-height: 1.2em;
  text-align: left;
}


.form-button{
  margin-left:50px;
  font-size: 18px;
  background-color: #006b98;
  color: #B8BFC2;
  border: 1px #B8BFC2;
  box-shadow: none;
}

.form-button:hover{
  font-size: 18px;
  background-color: #006b98;
  color: #8B8C8C;
  border: 2px #8B8C8C;
  box-shadow: none;
}

.formheader{
  font-size: 14px;
  background-color: #C7AF8F;
}

.selected{
  background-color: #B1D3DE;
}


.dropdownoptions{
  font-size: 10px;
}

.short{
  max-width:115px;
}


.fill{
  width: 100%;
}
.fill tr:nth-child(even) {
  background-color: #EBEDED;
}
.fill tr:nth-child(odd) {
  background-color: #C2C4C4;
}

.fill tr.fill2 {
  background-color: #597F80;
}
.fill tr.fill2 td {
  background-color: #597F80;
  font-size: 12px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top:0px;
}



.step{
  display:inline-block;
  background-color: white;
  border-radius: 30px;
  box-shadow: 5px 5px 3px #616363;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  padding: 30px;
}

h1{
    margin: 0 0 0 0;
    font-size: 30px;
    font-style: italic;
}
tr{
    height: 30px;
}

th{
    font-size: 18px;
    font-style: normal;
    padding-right: 10px;
    padding-left: 10px;
}
td{
    font-size: 15px;
    font-style: normal;
    text-align:center;
    vertical-align: top;
}

.info td{
  text-align:left;
}

div[ng-view] {
  position: relative;
  max-height: 80%; 
  margin: auto;
  overflow: visible;
}

.block{
  vertical-align: top;
  margin: 0 4px;
  overflow: visible;
}

.stationframewide{
  overflow-x: auto;
  overflow-y: visible;
  padding-bottom: 10px;
}
.station_title {
  background-color: #002540;
  padding: 12px 20px 12px 60px;
  z-index: 4;
  position: absolute;
  left: 20px;
  top: -22px;
  color: #fffdff;
  display: inline-block;
}

#station-title-HS0-011 {
  background-image: url(/images/wheel_icon.png);
  background-repeat: no-repeat;
  background-position: 18px center;
}

#station-title-HS0-ADM {
  background-image: url(/images/manage_lots_icon.png);
  background-repeat: no-repeat;
  background-position: 14px center;
}

#station-title-HS0-001 {
  background-image: url(/images/receiving_icon.png);
  background-repeat: no-repeat;
  background-position: 8px center;
}

#station-title-HS0-002 {
  background-image: url(/images/trimming_icon.png);
  background-repeat: no-repeat;
  background-position: 10px center;
}

#station-title-HS0-003 {
  background-image: url(/images/retouching_icon.png);
  background-repeat: no-repeat;
  background-position: 7px center;
}

#station-title-HS0-004 {
  background-image: url(/images/boxing_icon.png);
  background-repeat: no-repeat;
  background-position: 7px center;
}

#station-title-HS0-005 {
  background-image: url(/images/shipping_icon.png);
  background-repeat: no-repeat;
  background-position: 7px center;
}

div#station-HS0-011 {
}

#station-HS0-011 #harvester_list {
  width: 840px;
  margin-right: 14px;
  padding: 30px 20px 10px 20px;
  vertical-align: top;
}

#station-HS0-011 #harvester_list .header {
  display: table;
  height: 30px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 5px;
}

#station-HS0-011 #harvester_list .header span {
  display: table-cell;
  vertical-align: middle;
}

#harvester_list .header span.divider {
  width: 1px;
  background-color: #cecece;
}

#harvester_list .header span.section_head {
  color: #215666;
  font-size: 22px; 
  font-weight: 500;
  padding-right: 22px;
  width: 90px;
}

#harvester_list .header span.add_new {
  color: #186995;
  font-size: 16px; 
  padding-left: 16px;
}

#harvester_list .header input.search {
  display: table-cell;
  vertical-align: middle;
  padding-right: 30px;
  padding-left: 10px;
  color: #235161;
  width: 210px;
  height: 35px;
  float: right;
  border: 1px solid #afafaf;
  background-image: url(/images/search.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
}

#list-20 .list-header {
  margin: 0;
  display: table;
  height: 30px;
  width: 100%;
}

#station-HS0-011 #harvester_list #list-20 .list-header span {
  color: #777777;
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Lato-Bold';
  display: inline-block;
}

#list-20 .item-line.panel span {
  word-wrap: break-word;
  display: inline-block;
  vertical-align: middle;
}

.expanded-list span.expand-control {
  width: 40px;
}

.expanded-list .item-line span.expand-control {
  height: 38px;
}

.expanded-list .item-line span.expand-control.opened {
  background-image: url(/images/close_details.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.expanded-list .item-line span.expand-control.closed {
  background-image: url(/images/open_details.png);
  background-repeat: no-repeat;
  background-position: center center;
}

#list-20 .list-header span:nth-child(2), 
#list-20 .item-line span:nth-child(2){
  width: 130px;
  padding-right: 5px;
  font-family: 'Lato-Black';
}

#list-20 .list-header span:nth-child(3), 
#list-20 .item-line span:nth-child(3){
  width: 70px;
  padding-right: 5px;
}

#list-20 .list-header span:nth-child(4), 
#list-20 .item-line span:nth-child(4){
  width: 110px;
  padding-right: 5px;
}

#list-20 .list-header span:nth-child(5), 
#list-20 .item-line span:nth-child(5){
  width: 110px;
  padding-right: 5px;
}

#list-20 .list-header span:nth-child(6), 
#list-20 .item-line span:nth-child(6){
  width: 140px;
  padding-right: 5px;
}

#station-HS0-011 #harvester_list #list-20 .item-line button {
  display: inline-block;
  margin-right: 12px;
}

#station-HS0-011 #harvester_list #list-20 .item-line a:last-child {
  color: #276685;
  padding-left: 14px;
  border-left: 1px solid #ccccca;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-family: 'Lato-Bold';
}

#station-HS0-011 #harvester_list #list-20 .row {
  margin: 6px auto 14px;
}

#station-HS0-011 #harvester_list #list-20 .panel.item-line {
  width: 100%;
  padding: 12px 0;
  color: #0a2131;
  font-size: 16px;
  font-family: 'Lato-Regular';
}

#station-HS0-011 #harvester_list #list-20 .display_field {
  display: inline-block;
  width: 50%;
  padding: 0 22px;
  box-sizing:border-box;
}

#station-HS0-011 #harvester_list #list-20 .display_field label {
  display: inline-block;
  margin: 0;
}

#station-HS0-011 #harvester_list #list-20 .display_row {
  margin: 0;
}

#station-HS0-011 #harvester_list #list-20 .display_field .field_val {
  color: #111f28;
  font-family: 'Lato-Regular', Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: inline-flex;
}

#station-HS0-011 #current_lot {
  width: 240px;
  vertical-align: top;
  padding: 30px 20px 20px 20px;
}

#station-HS0-011 #current_lot h3  {
  color: #1b556b;
  padding: 0 0 10px 0;
  margin: 0;
  border-bottom: 1px solid #cecfca;
  font-size: 20px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.display_field label,
#station-HS0-011 #current_lot label[for=internal_lot_code-value]  {
  color: #787876;
  text-transform: uppercase;
  font-family: 'Lato-Bold';
  font-size: 12px;
}`

#station-HS0-011 #current_lot label  {
  display: block;
  margin: 16px 0 0 0;
  font-weight: 500;
}
#station-HS0-011 #current_lot .field_val  {
  color: #213141;
  font-family: 'Lato-Regular', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
}

#station-HS0-011 #current_lot #internal_lot_code-value {
 margin-top: 5px;
}
#station-HS0-011 #current_lot #internal_lot_code-value span#current_internal_lotnum {
  display: block;
}

#station-HS0-011 #current_lot #internal_lot_code-value input[type=text] {
  display: block;
  width: 100%;
  background-color: #ddebee;
  border: 1px solid #d3dee0;
  color: #0a2339;
  font-size: 20px;
  padding: 8px 10px;
  box-sizing:border-box;
}

/*  #station-HS0-011 #current_lot #internal_lot_code-value input[type=button] {
 *  */
.btn-orange {
    display: block;
    width: 100%;
    background: #fb7e2c; 
    background-image: linear-gradient(180deg, #fb7e2c 0%, #b94603 100%);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.15);
    padding: 12px 35px;
    border-radius: 8px;  
    margin-top: 10px;
    color: #fff6e6;
    font-weight: 600;
    font-size: 18px;
    text-shadow: 3px -1px 2px rgba(142, 125, 102, 0.38);
}

.btn-blue {
    display: inline-block;
    background: #0d82ad; 
    background-image: linear-gradient(180deg, #0d82ad 0%, #0e445c 100%);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.15);
    padding: 12px 20px;
    border-radius: 8px;  
    color: #e9ffff;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Lato-Bold';
    text-shadow: 3px -1px 2px rgba(142, 125, 102, 0.38);
}
.rmarg{
  margin-right: 20px;
}

.cellWrapper{
  height: 180px;
  width: 100%;
  position: relative;
}


/*nav bar */
nav {
  margin: 10px auto 30px auto;
  display: block;
}
nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
    z-index: 1000;
}

nav ul {
    background: #efefef; 
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0px 15px;
    border-radius: 10px;  
    list-style: none;
    position: relative;
    display: inline-block;
    margin:0px 10px;
}

nav ul:after {
    content: ""; clear: both; display: block;
}

nav ul li {
    float: left;
}

nav ul li:hover {
    background: #4b545f;
    background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}

nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    display: block; padding: 15px 40px;
    color: #757575; text-decoration: none;
}

nav ul ul {
    background: #5f6975; border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
}

nav ul ul li {
    float: none; 
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
}
        nav ul ul li a {
            padding: 10px 20px;
            color: #fff;
        }   
            nav ul ul li a:hover {
                background: #4b545f;
            }




fieldset{
    background: #FCFCFC;
    padding: 16px;
    border: 1px solid #D5D5D5;
    font-size: 10px;
}
.addfields{
    margin: 10px 0;
}

#choicesDisplay {
    padding: 10px;
    background: rgb(227, 250, 227);
    border: 1px solid rgb(171, 239, 171);
    color: rgb(9, 56, 9);
}
.remove{
    background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 21px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;   
}
input[type="text"],
select{
    padding:5px;
}









