.button{
    background-color: #8DA6F2;
    color: #454746;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    box-shadow: 2px 2px 1px #737373;
    font-family: "proxima-nova-1", "proxima-nova-2", Verdana, sans-serif;
    border-radius: 5px;
    padding: 15px;
    font-size: 30px;
    margin-top: 30px;
    width: 200px;
    margin-bottom: 3px;
}
.plant{
    width: 150px;
    margin-top: 100px;
    margin-left: 100px;
}
.station{
    width: 180px;
    margin-top: 100px;
    margin-left: 70px;
}
.button a{
    color:#454746;
    text-decoration: none;
}
.button p{
    color:#454746;
    text-decoration: none;
    margin: 0 0 0 0;
}
.button a:hover{
    color: white;
}
.button p:hover{
    color: white;
}
#sidebar{
    width: 250px;
    box-shadow: 2px 2px 1px #737373;
    position:absolute;
    top:0; bottom:0; left:0;
    padding-top:100px;
    padding-left: 5px;
}
#scale{
    height: 80px;
    width: 230px;
    outline: 3px solid;
    margin-top: 50px;
    font-family: "proxima-nova-1", "proxima-nova-2", Verdana, sans-serif;
    font-size: 50px;
    display: inline-block;
}
#currentscan{
    outline: 2px solid;
    margin-top: 50px;
    margin-left: 300px;
    color:#454746;
    display: inline-block;
}
.selectlot{
    margin-top: 50px;
    margin-left: 300px;
    color:#454746;
    display: inline-block;
}
body{
    font-family: "proxima-nova-1", "proxima-nova-2", Verdana, sans-serif;
    font-size: 30px;
    margin: 0 0 0 0;
}
body h1{
    margin: 0 0 0 0;
    font-size: 40px;
    font-style: italic;
}
.left{
    text-align: right;
}
.blank {
    background-color: #D1775E;
}
#scantable .right{
    color: #063291;
}
#scantable2 .right{
    color: #063291;
}
#admin .right{
    background-color: #DBDBDB;
}
#admin{
    margin-left:20px;
}
tr{
    height: 60px;
}
#scantable td{
    min-width:200px;
    height: 80px;
}
#confirm{
    margin-left:5px;
    width: 150px;
    background-color: #83B349;
}
#redo{
    margin-left:5px;
    width: 150px;
    background-color: #E05E43;
}
#tfcode{
    font-weight: bold;
}
.selectlot th{
    font-size: 25px;
    font-style: normal;
    width: 170px;
}
.selectlot td{
    font-size: 22px;
    font-style: normal;
    text-align:center;
}
.selectlot tr{
    outline: solid 1px;
}
.highlight{
    outline: solid 4px #9E6C42 !important;
}
.block{
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
}
#admin table{
    outline: solid 1px;
}
.static {
    color: #A3A6A2 !important;
}
.hidden{
    display:none;
}
.done p{
    color:#DB7756;
    font-size:15px;
}
.done p:hover{
    color:#DBDBDB;
}
.label{
    margin-left:20px;
    margin-top: 5px;
}
.summary td{
    width:150px;
    outline: 1px solid;
}
.summary th{
    width:150px;
    outline: 1px solid;
}
#edittable{
    font-size: 18px;
}
#edittable td{
    padding-right:20px;
}
.edit{
    color: #ED710C;
    font-style: bold;
}
nav ul ul {
    display: none;
}

    nav ul li:hover > ul {
        display: block;
    }
nav ul {
    background: #efefef; 
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 15px;
    border-radius: 10px;  
    list-style: none;
    position: relative;
    display: inline-table;
    margin-top:0px;
    padding-left:250px;
}
    nav ul:after {
        content: ""; clear: both; display: block;
    }
nav ul li {
    float: left;
}
    nav ul li:hover {
        background: #4b545f;
        background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
        background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
        background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
    }
        nav ul li:hover a {
            color: #fff;
        }
    
    nav ul li a {
        display: block; padding: 15px 40px;
        color: #757575; text-decoration: none;
    }
    nav ul ul {
    background: #5f6975; border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
}
    nav ul ul li {
        float: none; 
        border-top: 1px solid #6b727c;
        border-bottom: 1px solid #575f6a;
        position: relative;
    }
        nav ul ul li a {
            padding: 15px 40px;
            color: #fff;
        }   
            nav ul ul li a:hover {
                background: #4b545f;
            }
