<!doctype html>
<html lang="en" ng-app="HarsamApp">
<head ng-controller="SelectLotCtrl">
  <meta charset="utf-8">
  <title>Harsam 1</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/tuna.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/harsam.js"></script>
</head>
<body ng-controller="ReceivingCtrl">

  <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="harsam.html">HarSam</a>
                    <ul>
                        <li><a href="harsam1.html">Station 1</a></li>
                        <li><a href="harsam2.html">Station 2</a></li>
                        <li><a href="harsam_admin.html">Admin</a></li>
                    </ul>
                </li>
                <li><a href="#">AMANDA</a>
                    <ul>
                        <li><a href="amanda1.html">Station 1</a></li>
                        <li><a href="amanda2.html">Station 2</a></li>
                        <li><a href="amanda_admin.html">Admin</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="sidebar">
            HarSam
            <div class="button" ng-click="ScanIncoming($event)"><p>Scan Supplier Code</p></div>
            <div class="button" ng-click="PlaceOnScale($event)"><p>Place On Scale</p></div>
            <div class="button" ng-click="ScanGrade($event)"><p>Scan Grade</p></div>
            <div class="button" ng-click="ScanDirtyClean($event)"><p>Scan Dirty/Clean</p></div>
            <div id="scale">{{scale}}</div>
        </div>
        <div id="currentscan">
        <h1>Current Scan:</h1>
            <table id = 'scantable'>
              <tr>
                <td class="left">Supplier:</td>
                <td class="right">{{sup.name}} {{sup.supplier_group}}</td>
                <td class="left">Area:</td>
                <td class="right">{{sup.fishing_area}}</td>  
              </tr>
              <tr>
                <td class="left">Fleet:</td>
                <td class="right">{{sup.fleet}}</td>
                <td class="left">Species:</td>
                <td class="right">{{sup.species}}</td>  
              </tr>
              <tr>
                <td class="left">Handling:</td>
                <td class="right">{{sup.handling}}</td>
                <td class="left">State:</td>
                <td class="right">{{sup.state}}</td>  
              </tr>
              <tr>
                <td class="left">Fair Trade:</td>
                <td class="right">{{sup.fairtrade}}</td> 
              </tr>
              <tr>
                <td class="left">Weight:</td>
                <td class="right">{{weight}}</td>
                <td class="left">Date Received:</td>
                <td class="right">{{datereceived}}</td>
              </tr>
              <tr>
                <td class="left">Grade:</td>
                <td class="right">{{grade}}</td>
                <td class="left">Dirty/Clean:</td>
                <td class="right">{{clean}}</td>
              </tr>
            </table>
            <div id="confirm" class="button" ng-click="Confirm($event)"><p>Confirm</p></div>
            <div id="redo" class="button" ng-click="Redo($event)"><p>Redo</p></div>
        </div>


</body>
</html>
