<div ng-controller="SetStation" ng-init="init('AM2-002')">
  <div class="stationframe" >  
    <div class="columnframe block">
      <b>Internal Receiving</b>
      <div class="sectionframe" ng-controller="StartNewLotCtrl">
        <!-- begin choose collection -->
        <input type="submit" ng-click="StartNewLot()" ng-disabled="isDisabled" ng-model="isDisabled" value="Start New Lot" />
        <div ng-controller="SelectDropDownCtrl">
          Recent Lots:
          <select name="singleSelect" ng-model="current.collectionid">
            <option ng-repeat = "lot in list.lot | orderBy: '-timestamp' | limitTo: 5" value={{lot.lot_number}}>{{lot.lot_number}}</option>
          </select>
        </div>
        <!-- end choose collection -->
      </div>

      <div class="sectionframe">
        <!--begin add scan info-->
        <form ng-controller="LotBoxScanCtrl" ng-submit="MakeScan(scanned_box)">
          Scan Box: <input  type="text" ng-model="scanned_box">
        </form>
        <!--end add scan info-->
      </div>

    </div>
    
    <div class="columnframe block">
      
      <div class="sectionframe"  ng-controller="DisplayCollectionCtrl">
        <!--begin collection info -->
        Lot number: {{current.lot.lot_number}}<br>
        Date: {{current.lot.start_date|stringtodate|date:format:"MMM dd"}}
        <!--end collection info -->
      </div>

      <!--<div class="sectionframe" ng-controller="TotalsCtrl">-->
        <!-- begin summary info  -->
        <!-- end summary info  -->
      <!--</div>-->
      
      <div class="sectionframe itemsframe"  ng-controller="DisplayItemsCtrl">
        <!--begin full items list -->
        <table class="fill" ng-controller="RemoveBoxScanCtrl">
          <tr>
            <td>Box number</td>
            <td>weight</td>
            <td>Case Number</td>
            <td>Harvester Code</td>
          </tr>  
          <tr ng-repeat="box in list.included">
            <td>{{box.box_number}}</td>
            <td>{{box.weight}}kg</td>
            <td>{{box.case_number}}</td>
            <td>{{box.harvester_code}}</td>
            <td ng-click="RemoveItem(box.box_number)">Remove</td>
          </tr>
        </table>
        <!--end full items list -->
      </div>

    </div>    
  </div>


</div>





