<form class="form-text">
  <table>
    <tr ng-repeat="row in formarray">
      <td ng-if-start="row.type === 'text'">{{row.title}}:</td><td class="field" ng-if-end> <input  type="text" value={{row.value}} ng-model="form[row.fieldname]" ></td>
      <td ng-if-start="row.type === 'number'">{{row.title}}:</td><td class="field" ng-if-end><input  type="number" value={{row.value}} ng-model="form[row.fieldname]" ></td>
      <td ng-if-start="row.type === 'radio'">{{row.title}}: </td><td class="field" ng-if-end>
        <span ng-repeat="option in row.value"><input  type="radio" ng-model="form[row.fieldname]" value={{option.val}} />{{option.label}}</span>
      </td>
      <td ng-if-start="row.type === 'select'">{{row.title}}:</td><td class="field" ng-if-end>
        <select ng-model="form[row.fieldname]">
          <option value="">-- select --</option>
          <option ng-repeat="option in row.value" value={{option.name}}>{{option.name}}</option>
        </select>
      </td>
    </tr>
  </table>
</form>



