<div  ng-controller="LotCtrl" class="adminmanagelots">
<div class="header">
  <input ng-model="searchText" class="search" placeholder="Search"></input>
  <md-datepicker ng-model="startDate" md-placeholder="Start date"></md-datepicker>
  <md-datepicker ng-model="endDate" md-placeholder="End date"></md-datepicker>
</div>
<div buffered-scroll-lots id="admin_manage_lots" >
  <div class="inner_scrollable">
    <table>
      <tr class="adminlots_header">
        <th class="lot_column"><span>Lot</span></th>
        <th ng-repeat="stn in sumStations" class="station-column-{{stn.code}} lot-station-cell">
          <div class="icon {{stn.icon}}"></div><span>{{stn.name}}<span>
        </th>
      </tr>

      <!-- tr ng-repeat="lot in list.harvester_lot | orderBy: '-timestamp' | filter: filter_lot | limitTo: limit" -->
      <tr ng-repeat="lot in list.harvester_lot | dateRange: 'end_date' : startDate : endDate | orderBy: '-timestamp' | filter: filter_lot | limitTo: limit">

        <td class="lot_column" valign="top">
          <div class="display_field">
            <div class="lot_label">
              <label>Internal Lot:</label>
              <span ng-if="lot.expanded" ng-click="lot.expanded = false" class="expand-control opened"></span>  
              <span ng-if="!lot.expanded" ng-click="lot.expanded = true" class="expand-control closed"></span>
            </div>
            <div class="field_val lot_code">{{lot.internal_lot_code || lot.lot_number}}</div>
          </div>        
          <div ng-if="lot.expanded" class="expanded">


            <div ng-repeat="row in collectiondisplay.layout" class="display_field" ng-switch on="row.val">
              <label>{{row.name}}:</Label>
              <div ng-switch-when="end_date" class="field_val">{{lot.end_date|stringtodate|date:format:"MMMM d, yyyy"}}</div>
              <div ng-switch-default class="field_val">{{lot[row.val]}}</div>
            </div>
          </div>
        </td>
        <td ng-repeat="stn in sumStations" class="station-column-{{stn.csscode}} lot-station-cell">
          <div ng-class="{in_progress: lot[stn.code].in_progress, warn: cssWarn(lot, stn), ok: cssOk(lot, stn)}" 
               class="panel white card_header">
             <span ng-if="cssWarn(lot,stn) || cssOk(lot,stn)" class="state"></span>
             <span class="data">
               <span ng-if="lot[stn.code].summary.boxes" class="card_bit boxes">
                 <label>boxes</label>
                 <span class="value">{{lot[stn.code].summary.boxes}}</span>
               </span>  
               <span ng-if="lot[stn.code].summary.weight_1" class="card_bit weight">
                 <label>weight</label>
                 <span class="value">
                   <span>
                     {{lot[stn.code].summary.weight_1.toFixed(2)}}<sub>kg</sub>
                   </span>  
                   <span ng-if="lot[stn.code].summary.weight_2">
                     {{lot[stn.code].summary.weight_2.toFixed(2)}}<sub>kg</sub>
                   </span>
                 </span>
               </span>  
               <span ng-if="lot[stn.code].summary.pieces" class="card_bit pieces">
                 <label>pcs</label>
                 <span class="value">{{lot[stn.code].summary.pieces}}</span>
               </span>  
               <span ng-if="lot[stn.code].prev_yield || lot[stn.code].start_yield" class="card_bit yield">
                 <label>yield.%</label>
                 <span class="value">
                   <span ng-if="lot[stn.code].prev_yield">{{ lot[stn.code].prev_yield.toFixed(0) }}</span>
                   <span ng-if="lot[stn.code].start_yield">{{ lot[stn.code].start_yield.toFixed(0) }}</span>
                 </span>
               </span>  
             </span> 
          </div>
          <div ng-if="lot.expanded" class="panel item-details">
            <table>
              <tr ng-repeat = "total in lot[stn.code].totals | orderBy: 'state'">
                <td ng-if="total.trade_unit"> {{total.trade_unit}} </td>
                <td ng-if="total.product_code">{{total.product_code}} </td>
                <td ng-if="total.grade">{{total.grade}} </td>
                <td ng-if="total.state">{{total.state}} </td>
                <td ng-if="total.size">{{total.size}} </td>              
                <td ng-if="total.species">{{total.species}} </td>
                <td ng-if="total.boxes">{{total.boxes}} boxes </td>
                <td ng-if="total.pieces">{{total.pieces}}pcs </td> 
                <td ng-if="total.weight">{{(total.weight).toFixed(2)}}kg</td>
                <td ng-if="total.weight_1">{{(total.weight_1).toFixed(2)}}kg<span ng-if="total.weight_2"> / {{total.weight_2.toFixed(2)}}kg</span></td>
              </tr>
            </table>
            <button class="bottomright btn-blue" 
                    ng-if="stn.submitlot && lot[stn.code].summary && lot[stn.code].in_progress" 
                    ng-click="SubmitLot(lot.lot_number, lot.tf_code) "
                    ng-disabled="lot.tf_submit !== 'submit' && lot.tf_submit !== 'no_trace'">
              <span ng-switch on="lot.tf_submit">
                <span ng-switch-when="no_trace">Complete Lot</span>
                <span ng-switch-when="submit">Thisfish Submit</span>
                <span ng-switch-when="success">{{lot.tf_code}}</span>
                <span ng-switch-when="error">Error Submitting</span>
                <span ng-switch-default>Complete Lot</span>
              </span>
            </button>
            <button class="bottomleft btn-light" 
                    ng-if="lot[stn.code].summary" ng-click="getTheData(lot.lot_number, stn, lot.internal_lot_code)" >CSV</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
  </div>
</div>
