
  
    <table class = "fill">
      <tr>
        <td>Lot number</td>
        <td>Grade</td>
        <td>Size</td>
        <td>Total Weight</td>
      </tr>
      <tr ng-repeat = "item in list.totals | orderBy: '-timestamp' ">
        <td ng-if="item.lot_number!==list.box_total[$index - 1].lot_number">{{item.lot_number}}</td>
        <td ng-if="item.lot_number===list.box_total[$index - 1].lot_number"></td>
        <td ng-if="item.grade!==list.box_total[$index - 1].grade  || item.lot_number!==list.box_total[$index - 1].lot_number" >{{item.grade}}</td>
        <td ng-if="item.grade===list.box_total[$index - 1].grade && item.lot_number===list.box_total[$index - 1].lot_number"></td>
        <td>{{item.size}}</td>
        <td>{{item.sum}}</td>
      </tr>
    </table>
