<div class="bufferedscroll" buffered-scroll>
  <table ng-class="config.cssclass">
    <tbody>
      <tr ng-if="config.headers">
        <th ng-repeat="title in config.headers">{{title}}</th>
      </tr>  
      <tr ng-repeat="item in itemlist | orderBy: config.order | limitTo: limit | filter: filterstring"
          id="item-{{item[config.arg]}}" class="animation">
        <td ng-repeat="name in config.fields" ng-switch on="name">
          <span ng-switch-when="numindex">{{itemlist.length - $parent.$parent.$index}}</span>
          <span ng-switch-when="timestamp">{{item.timestamp|stringtodate|date:'MMM dd HH:mm:ss' }}</span>
          <span ng-switch-when="weight_1">{{(item[name]) | weightstring }}</span>
          <span ng-switch-when="weight_2">{{(item[name]) | weightstring }}</span>
          <span ng-switch-when="weight">{{(item[name]) | weightstring }}</span>
          <span ng-switch-when="internal_lot_code">{{item[name] || item['lot_number']}}</span>
          <span ng-switch-when="pieces">{{item[name]}}pcs</span>
          <span ng-switch-when="boxes">{{item[name]}}boxes</span>
          <span ng-switch-default>{{item[name]}}</span>
        </td>
        <td ng-if="config.button2" ng-click="ResetLimit();secondFn({str: item[config.arg]})">{{config.button2}}</td>
        <td ng-if="config.button  && !config.arg2" ng-click="ResetLimit();updateFn({str: item[config.arg]})">{{config.button}}</td>
        <td ng-if="config.button && config.arg2" ng-click="updateFn({str: item[config.arg], str2: item[config.arg2]})">{{config.button}}</td>
      </tr>
    </tbody>
  </table>
</div>