<div class="bufferedscroll" buffered-scroll id="list-{{config.id}}">
  <table ng-class="config.cssclass">
    <tbody>
      <tr ng-if="config.headers">
        <th ng-repeat="title in config.headers">{{title}}</th>
      </tr>  
      <tr ng-repeat="item in itemlist | orderBy: config.order | limitTo: limit | filter: filterstring"
          id="item-{{$index}}{{config.station_id}}" class="animation" elem-ready="testFn({str:$index})">
        <td ng-repeat="name in config.fields" ng-switch on="name">
          <span ng-switch-when="numindex">{{listlength - $parent.$parent.$index}}</span>
          <span ng-switch-when="timestamp">{{item.timestamp|stringtotime }}</span>
          <span ng-switch-when="weight_1">{{(item[name]) | weightstring }}</span>
          <span ng-switch-when="weight">{{(item[name]) | weightstring }}</span>
          <span ng-switch-when="internal_lot_code">{{item[name] || item['lot_number'] || item.received_from}}</span>
          <span ng-switch-when="pieces">{{item[name]}} pcs</span>
          <span ng-switch-when="boxes">{{item[name]}} cases</span>
          <span ng-switch-when="loin_num">{{item.loin_number.substring(6,10)}}</span>
          <span ng-switch-when="box_num">{{item.box_number.substring(6,10)}}</span>
          <span ng-switch-when="full_supplier">{{item.fleet}} - {{item.supplier_group}} - {{item.supplier}}</span>
          <span ng-switch-default>{{item[name]}}</span>
        </td>
        <td ng-if="config.button2 && !config.arg" 
            ng-click="secondFn({str: item})" class="btn_action">{{config.button2}}</td>
        <td ng-if="config.button2  && config.arg" ng-click="ResetLimit();secondFn({str: item[config.arg]})" class="btn_action">{{config.button2}}</td>
        <td ng-if="config.button  && !config.arg2   && config.arg" ng-click="ResetLimit();updateFn({str: item[config.arg]})" 
            class="btn_action">{{config.button}}</td>
        <td ng-if="config.button && config.arg2   && config.arg" 
            ng-click="updateFn({str: item[config.arg], str2: item[config.arg2]})" class="btn_action">{{config.button}}</td>
        <td ng-if="config.button && !config.arg" 
            ng-click="updateFn({str: item})" class="btn_action">{{config.button}}</td>
        
      </tr>
    </tbody>
  </table>
</div>
