<div ng-repeat="row in config.layout" class="display_row">
  <div ng-repeat="col in row | tf_filter: 'val' : settings.thisfish_enabled" class="display_field"> 
    <label ng-if="col.name" for="{{col.val}}-value">{{col.name}}: </label>
    <div class="field_val" id="{{col.val}}-value" ng-switch on="col.val" ng-cloak>
      <span ng-switch-when="timestamp" class="display_val">{{obj.timestamp|stringtotime }}</span>
      <span ng-switch-when="timestamp_date" class="display_val">{{obj.timestamp}}</span>
      <span ng-switch-when="end_date" class="display_val">{{obj.end_date|stringtodate}}</span>
      <span ng-switch-when="start_date" class="display_val">{{obj.start_date|stringtodate }}</span>
      <span ng-switch_when="weight_1" class="display_val">{{obj[col.val] | weightstring}}</span>
      <span ng-switch_when="internal_lot_code" class="display_val">{{obj[col.val] || obj['lot_number']}}</span>
      <span ng-switch_when="pieces" class="display_val">{{obj[col.val]}} pcs</span>
      <span ng-switch_when="supplier_obj" class="display_val">{{obj.received_from | json_filter}}</span>
      <span ng-switch-default class="display_val">{{obj[col.val]}}</span>
    </div>
  </div>
</div>
