<!-- 
<div ng-init="showlist=(cfg.show||false)" class="dropdown_container">

  <label ng-if="cfg.title" for="select-{{cfg.id}}">{{cfg.title}}: </label>
  <div class="styled-dropdown">
    <select name="singleSelect" ng-model="selectedoption" id="select-{{cfg.id}}" 
            ng-change="changeFn({selected: selectedoption})">
      <option value="no selected">--select--</option>
      <option ng-repeat="item in itemlist | orderBy: cfg.order | limitTo: cfg.limit" value="{{item[cfg.arg]}}">
      {{ formatOption(cfg, item) }} 
      </option>
    </select>
    <div class="dd_arrow"><span></span></div>
  </div> 

</div> -->
