<div ng-controller="EditLotCtrl"  ng-show="current.showforms==='EDIT'" class="select_object"> 

    <button ng-click="current.showforms='NONE'" class="btn-blue">Cancel</button>

    <div  class="select_object">
      <div class="select_header">
         <span class="show_choices">Shipment Info</span>
      </div>
      <div class="inset_form"> 
        <div class="show_choices">
          <editdata config="collectionform" formchange="formchange" thedata="current.ship_edit" change-fn="OnChangeShip(fieldname, val)"></editdata>
        </div>
      </div>
    </div>

    <div  class="select_object">
      <div class="select_header">
         <span class="show_choices">Receive Date</span>
      </div> 
      <div class="inset_form"> 
        <div class="show_choices">
          <div class="marg_left"><div class="field"><md-datepicker ng-model="current.receivedate" md-placeholder="Receive date"></md-datepicker></div></div>
        </div> 
      </div>
    </div>

    <div  class="select_object">
      <div class="select_header">
         <span class="show_choices">Supplier</span>
      </div> 
      <div class="inset_form"> 
        <div class="show_choices">
          <div class="marg_left"><input-dropdown thelist="list.supplier"  config="supplierdropdown" on-select="SetEditSupplier(value)" initial="current.sup_edit"></input-dropdown></div>
        </div>
      </div>
    </div>

    <div  class="select_object" ng-if="current.har_edit">
      <div class="select_header">
         <span class="show_choices">Fishing Info</span>
      </div> 
      <div class="inset_form"> 
        <div class="show_choices">
          <editdata config="addform" formchange="formchange" thedata="current.har_edit" change-fn="OnChangeHar(fieldname, val)"></editdata>
        </div>
      </div>
    </div>

    <div class="centre_btn">
      <input type="button" ng-click="ShipInfo()" value="Save" class="btn-orange" ng-disabled="!save_button">
    </div>

  </div>
