<!-- <div ng-repeat="field in config.displayfields" class="display_field" ng-switch on="field.fieldname">
  <label>{{field.title}}:</label>
    <span ng-switch-when="timestamp">{{obj[field.fieldname]|stringtodate}}</span>
    <span ng-switch-default>{{obj[field.fieldname]}}</span>

</div>


<div ng-repeat="field in config.fields" class="display_field">
  <label for="inp_{{field.fieldname}}">{{field.title}}:</label>
  <input type="text" autocomplete="off"
         ng-model="obj[field.fieldname]" id="inp_{{field.fieldname}}">
</div>

<div class="form_buttons">
  <input type="button" ng-click="submitFn()" value="Save" class="btn-orange">
</div> -->
