<!-- similar to entryform but for editing existing data -->


<span ng-if="config.title">{{config.title}}: </span>
<div class="marg_left">
  <button id="toggle-{{config.id}}" 
          ng-if="config.hide" ng-click="$parent.hideform = !hideform" class="btn-blue">
    <span ng-show="hideform">{{config.hide}}</span>
    <span ng-hide="hideform">Hide Form</span>
  </button>
</div>

<div ng-hide="hideform" id="form-{{config.id}}" ng-class="{editform: config.editinform}">
<span ng-if="formdisabled===true"><i class="errortext">Choose collection</i></span>
<form class="form-text" name="theform"  novalidate>
  <fieldset ng-disabled="formdisabled">
    
    <div ng-repeat="row in formarray" class="form_row"> <!--For each object in config.fields -->


        <div class="form_label" ng-if="row.title!=='second'">
          <label ng-if="row.title!=='second_short'" for="{{row.fieldname}}">{{row.title}}:
            <span ng-if="theform[row.fieldname].$error.required===true && submitted"><i class="errortext">required field</i></span>
            <span ng-if="theform[row.fieldname].$error.negative===true && submitted"><i class="errortext">negative</i></span>
          </label>
          <span ng-if="row.fieldname.substring(0,6)==='weight' && row.title != 'Weight'" 
                class="field_desc">Weight</span>
        </div>
        <div class="field">

          <!--text-->
          <span ng-if="row.type === 'text'"> <input name="{{row.fieldname}}" type="text" autocomplete="off" value="something"
                ng-model="form[row.fieldname]" ng-required="{{row.required || false}}" ng-change="changeFn({fieldname:row.fieldname, val:form[row.fieldname]})"></span>

          <!--datepicker-->
          <span ng-if="row.type === 'datepicker'"> <md-datepicker ng-model="form[row.fieldname]" md-placeholder="date" ng-change="changeFn({fieldname:row.fieldname, val:form[row.fieldname]})"></md-datepicker></span>

          <!--number-->
          <span ng-if="row.type === 'number'">
            <span ng-if="!row.scale">
                <input ng-change="changeFn({fieldname:row.fieldname, val:form[row.fieldname]})"  name="num" autocomplete="off" type="number" ng-model="form[row.fieldname]" ng-required="{{row.required || false}}" negative/>
            </span>
          </span>

          <!--radio-->
          <span ng-if="row.type === 'radio' && row.value.length > 2" id="radio-{{config.id}}-{{row.fieldname}}" 
            class="toggle-group-container" ng-class="{'rbgroup-unset': !form[row.fieldname]}">
            <label ng-repeat="option in row.value" for="{{row.fieldname + $index + config.station_id}}" ng-click="DoSomething(row.fieldname + $index + config.station_id + row.title, row, $index)"><input ng-change="changeFn({fieldname:row.fieldname, val:form[row.fieldname]})"
                   name="{{row.fieldname}}" type="radio" 
                   id="{{row.fieldname + $index + config.station_id + row.title}}" value={{option.val}} ng-model="form[row.fieldname]"
                   ng-required="{{row.required || false}}"><span>{{option.label}}</span></label>
          </span>
          <span ng-if="row.type === 'radio' && row.value.length==2" id="radio-{{row.fieldname}}" >
            <span class="switch_option" ng_class="{active: form[row.fieldname]==row.value[0].val}"
                value="row.value[0].val">{{row.value[0].val}}</span>
            <div ng-click="toggleRadioValue(row)" class="onoffswitch">
              <input ng-change="changeFn({fieldname:row.fieldname, val:form[row.fieldname]})" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" 
                     id="formswitch-{{row.fieldname}}" ng-checked="form[row.fieldname]==row.value[1].val">
              <label class="onoffswitch-label" for="formswitch-{{row.fieldname}}">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
            <span class="switch_option" ng-class="{active: form[row.fieldname]==row.value[1].val}"
                value="row.value[1].val">{{row.value[1].val}}</span>
          </span>

          <!--select-->
          <span ng-if="row.type === 'select' && !row.value.list">
            <!--static select options-->

            <div class="styled-dropdown">   
              <select ng-if="row.value !== 'dboptions' && !row.value.list" ng-model="form[row.fieldname]" ng-change="changeFn({fieldname:row.fieldname, val:form[row.fieldname]})"
                      ng-required="{{row.required || row.thisfish || false}}" name="{{row.fieldname}}">
                <option value="">-- select --</option>
                <option ng-repeat="option in row.value" value={{option.name}}>{{option.name}}</option>
              </select>

              <!--dboptions-->
              <select ng-if="row.value ==='dboptions'" ng-model="form[row.fieldname]" ng-required="{{row.required || row.thisfish || false}}" name="{{row.fieldname}}" ng-change="changeFn({fieldname:row.fieldname, val:form[row.fieldname]})">
                <option value="">-- select --</option>
                <option ng-repeat="option in formoptions | filter: {field_name:row.fieldname}: true |filter:search:strict" 
                        >{{option.value}}</option>
              </select>

              <!--options from another database table-->
              <select ng-if="row.value.list && row.value.list === 'list1'" ng-model="form[row.fieldname]" name="{{row.fieldname}}" ng-change="changeFn({fieldname:row.fieldname, val:form[row.fieldname]})">
                <option value="">-- select --</option>
                <option ng-repeat="option in list1" value={{option|json_lot}}>{{option[row.value.name]}}  <!--{{option.traceable|istraceable}}--></option>
              </select>

              <div ng-if="!row.value.list" class="dd_arrow"><span></span></div>
            </div> 

            <!--editing dropdown options-->
            <!-- <div ng-if="row.value ==='dboptions' && config.editinform === true" 
                 ng-init="editdrop[row.fieldname]=true" id="edit-options-{{row.fieldname}}" class="edit-options">            
              <button id="{{row.fieldname}}-{{config.id}}" 
                      ng-class="{edit: editdrop[row.fieldname], close_edit: !editdrop[row.fieldname]}" 
                      ng-click="editdrop[row.fieldname] = !editdrop[row.fieldname]">
                <span ng-show="editdrop[row.fieldname]"><i>Edit</i></span><span ng-hide="editdrop[row.fieldname]">Hide</span>
              </button> 
              <div ng-hide="editdrop[row.fieldname]">
                <div class="dropdownoptions" ng-repeat="selection in formoptions|filter:{field_name:row.fieldname}: true">
                  <span class="dd_option">{{selection.value}}</span>
                  <span class="remove_option" ng-click="Delete(selection.value, row.fieldname)" value="X" /></span>
                </div>
                <input class="short" type="text" autocomplete="off" ng-model="new"><span class="add-field-option" 
                       ng-click="New(new, row.fieldname)"></span>
              </div>
            </div> -->

          </span>
          <input-dropdown ng-if="row.value.list && row.value.list === 'list2'"  thelist="list2"  config="row.conf" on-select="searchset(value, row)" form="form[row.fieldname]"></input-dropdown>

        </div>

      </div>

  </fieldset>
</form>



</div>
