<span ng-if="config.title">{{config.title}}: </span>

<button id="toggle-{{config.id}}" 
        ng-if="config.hide" ng-click="$parent.hideform = !hideform" class="btn-blue">
  <span ng-show="hideform">{{config.hide}}</span>
  <span ng-hide="hideform">Hide Form</span>
</button>

<div ng-hide="hideform" id="form-{{config.id}}">
<span ng-if="formdisabled===true"><i class="errortext">Choose collection</i></span>
<form class="form-text" name="theform"  novalidate>
  <fieldset ng-disabled="formdisabled">
    
    <div ng-repeat="row in formarray" class="form_row"> <!--For each object in config.fields -->

        <div class="form_label">
          <label for="{{row.fieldname}}">{{row.title}}:
            <span ng-if="theform[row.fieldname].$error.required===true && submitted"><i class="errortext">required field</i></span>
            <span ng-if="theform[row.fieldname].$error.negative===true && submitted"><i class="errortext">negative</i></span>
          </label>
          <span ng-if="row.fieldname.substring(0,6)==='weight' && row.title != 'Weight'" 
                class="field_desc">Weight</span>
        </div>
        <div class="field">

          <!--text-->
          <span ng-if="row.type === 'text'"> <input name="{{row.fieldname}}" type="text" value={{row.value}} 
                ng-model="form[row.fieldname]" ng-required="{{row.required || false}}"></span>

          <!--number-->
          <span ng-if="row.type === 'number'">
            <span ng-if="row.scale==='on' || row.scale==='wait' || row.scale==='lock'"><input 
                  ng-class="{scaletext: row.scale==='on'}" name="{{row.fieldname}}" type="text"  
                  ng-model="scale[row.fieldname]" ng-focus="weigh(row);pollFn({field: row.fieldname})" 
                  ng-required="{{row.required || false}}" negative></span>

            <span ng-if="!row.scale || row.scale==='off'"><input name="{{row.fieldname}}" type="text" 
                  value={{row.value}} ng-model="form[row.fieldname]" ng-required="{{row.required || false}}" negative></span>
          </span>


          <!--radio-->
          <span ng-if="row.type === 'radio' && row.value.length > 2" id="radio-{{row.fieldname}}" 
            class="toggle-group-container" ng-class="withChecked(row.fieldname)">
            <label ng-repeat="option in row.value" for="{{'rb-' + $index}}" ng-class="isChecked(row.fieldname, option)"><input  
                   name="{{row.fieldname}}" type="radio" 
                   id="{{'rb-' + $index}}" value={{option.val}} ng-model="form[row.fieldname]" 
                   ng-required="{{row.required || false}}"><span>{{option.label}}</span></label>
          </span>
          <span ng-if="row.type === 'radio' && row.value.length==2" id="radio-{{row.fieldname}}" >
            <span class="switch_option" ng_class="{active: form[row.fieldname]==row.value[0].val}"
                value="row.value[0].val">{{row.value[0].val}}</span>
            <div  class="onoffswitch">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" 
                     id="switch-{{row.fieldname}}" ng-checked="form[row.fieldname]==row.value[1].val">
              <label class="onoffswitch-label" for="switch-{{row.fieldname}}" 
                     ng-click="toggleRadioValue(row)">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
            <span class="switch_option" ng_class="{active: form[row.fieldname]==row.value[1].val}"
                value="row.value[1].val">{{row.value[1].val}}</span>
          </span>

          <!--select-->
          <span ng-if="row.type === 'select'">
            <!--static select options-->
            <select ng-if="row.value !== 'dboptions' && !row.value.list" ng-model="form[row.fieldname]" ng-required="{{row.required || false}}" name="{{row.fieldname}}">
              <option value="">-- select --</option>
              <option ng-repeat="option in row.value" value={{option.name}}>{{option.name}}</option>
            </select>

            <select ng-if="row.value ==='dboptions'" ng-model="form[row.fieldname]" ng-required="{{row.required || false}}" name="{{row.fieldname}}">
              <option value="">-- select --</option>
              <option ng-repeat="option in formoptions | filter: {field_name:row.fieldname}: true |filter:search:strict" 
                      value={{option.value}}>{{option.value}}</option>
            </select>

            <!--editing dropdown options-->
            <div ng-if="row.value ==='dboptions' && config.editinform === true" 
                 ng-init="editdrop[row.fieldname]=true" id="edit-options-{{row.fieldname}}" class="edit-options">            
              <div ng-hide="editdrop[row.fieldname]">
                    <div class="dropdownoptions" ng-repeat="selection in formoptions|filter:{field_name:row.fieldname}: true">
                        {{selection.value}}
                        <input type="button" ng-click="Delete(selection.value, row.fieldname)" value="X" />
                    </div><br>
                    <input  class="short" type="text" ng-model="new"><input class="add-field-option" 
                            type="button" ng-click="New(new, row.fieldname)" value="Add" />
              </div>
            </div>

            <!--options from another database table-->
            <select ng-if="row.value.list && row.value.list === 'list1'" ng-model="form[row.fieldname]">
              <option value="">-- select --</option>
              <option ng-repeat="option in list1" value={{option[row.value.val]}}>{{option[row.value.name]}}</option>
            </select>
            <select ng-if="row.value.list && row.value.list === 'list2'" ng-model="form[row.fieldname]">
              <option value="">-- select --</option>
              <option ng-repeat="option in list2" value={{option[row.value.val]}}>{{option[row.value.name]}}</option>
            </select>
          </span>

          <!--button to set scale weight-->
          <img ng-if="row.pollarg && row.scale!='off'" src="/images/weight_control_connector.svg" 
               class="weight-connector"/>
          <button class="btn-blue scale-weight-set" 
                  ng-if="row.pollarg && row.scale!='off'"
                  ng-disabled="row.scale!='on'" 
                  ng-click="store(row);pollFn({field: row.pollarg})"
                  ng-class="row.scale"><img ng-src="/images/weight_{{row.scale}}_icon.svg"/></button>
          <!--
          <span ng-if="row.pollarg" ng-show="pollScale">
            <input ng-if="row.scale==='on'" type="button" ng-click="store(row);pollFn({field: row.pollarg})" value="store">
            <input ng-if="row.scale==='lock'" type="button" ng-disabled="'true'" value="locked">
            <input ng-if="row.scale==='wait'" type="button" ng-disabled="'true'" value="store">
          </span>
          -->

          <!--button to edit dropdown options-->
          <button ng-if="row.value ==='dboptions' && config.editinform === true" 
                  id="{{row.fieldname}}-{{config.id}}" 
                  ng-click="editdrop[row.fieldname] = !editdrop[row.fieldname]">
            <span ng-show="editdrop[row.fieldname]"><i>Edit</i></span><span ng-hide="editdrop[row.fieldname]">Hide</span>
          </button> 

        </div>

      </div>
    
    <div class="form_buttons">
      <div class="pictogram_btns">
        <span ng-click="Clear()" value="Clear Entry" id="clear-{{config.id}}" class="clear">Clear Entry</span>
        <span ng-if="config.startpolling" ng-show="poll_scale" 
              ng-click="pollFn({field: 'toggle_state'});scalefn()" class="manual_weight">Manual Input</span>
        <span ng-if="config.startpolling" ng-hide="poll_scale" 
              ng-click="pollFn({field: 'toggle_state'});scalefn()">Scale On</span>

      </div>
      <input type="button" ng-click="submitFn({form: isValid(form)})"  class="btn-orange"
             value="{{config.submit||'Submit'}}" id="submit-{{config.id}}">
    </div>     

  </fieldset>
</form>

</div>
