<div ng-class="config.cssclass" id="list-{{config.id}}" class="expanded-list">
  
  <!--column headers-->

  <div ng-if="config.headers" class="list-header">
    <span class="expand-control"></span>
    <span ng-repeat="title in config.headers">{{title}}</span>
  </div>

  <div ng-repeat="item in itemlist | orderBy: config.order | filter: filterstring" 
       ng-class="{selected: item[config.arg] == current[config.arg]}" class="row">

    <div class="panel white item-line">   
      <span ng-if="expanded" ng-click="$parent.expanded = false" 
            class="expand-control opened"></span>  
      <span ng-if="!expanded" ng-click="$parent.expanded = true"  class="expand-control closed"></span>

       
      <span ng-repeat="name in config.fields" ng-switch on="name">
        <span ng-switch-when="timestamp" class="list_item_val">{{item.timestamp|stringtotime }}</span>        
        <span ng-switch_when="pieces" class="list_item_val">{{item[name]}} pcs</span>
        <span ng-switch_when="boxes" class="list_item_val">{{item[name]}} boxes</span>
        <span ng-switch-default class="list_item_val">{{item[name]}}</span>
      </span>

      <button ng-if="config.button" class="btn-blue" 
              ng-click="updateFn({str: item[config.arg]})">{{config.button}}</button>
      <a ng-if="config.button2" ng-click="hideFn({str: item[config.arg]})">{{config.button2}}</a>

    </div>
    <div ng-if="expanded" class="panel item-details">
        <display settings="settings" obj="item" config="displaycfg"></display>
    </div>
  </div>

</div>
