<div ng-class="config.cssclass" id="list-{{config.id}}" class="expanded-list">
  
  <!--column headers-->

  <div ng-if="config.headers" class="list-header">
    <span class="expand-control"></span>
    <span ng-repeat="title in config.headers">{{title}}</span>
  </div>

  <div ng-repeat="item in itemlist | orderBy: config.order | limitTo: config.limit | filter: filterstring" 
       ng-class="{selected: item[config.arg] == current[config.arg]}" class="row">

    <div class="panel white item-line">   
      <span ng-if="expanded" ng-click="$parent.expanded = false" 
            class="expand-control opened"></span>  
      <span ng-if="!expanded" ng-click="$parent.expanded = true"  class="expand-control closed"></span>
       
      <span ng-repeat="name in config.fields">
        <span ng-if="name==='numindex'">{{itemlist.length - $parent.$parent.$index}}</span>
        <span ng-if="name==='timestamp'" class="list_item_val">{{item.timestamp|stringtodate|date:'MMM dd HH:mm:ss' }}</span>
        <span ng-if="name.substring(0,6)==='weight'" class="list_item_val">{{(item[name]).toFixed(2)}}kg</span>
        <span ng-if="name !== 'numindex' && name !== 'timestamp' && name.substring(0,6)!=='weight'"  class="list_item_val">{{item[name]}}</span>
        <span ng-if="name==='pieces'">pcs</span>
        <span ng-if="name==='boxes'">boxes</span>
      </span>

      <button ng-if="config.button" class="btn-blue" 
              ng-click="updateFn({str: item[config.arg]})">{{config.button}}</button>
      <!-- button ng-if="config.button && item[config.arg] === current[config.arg]}" class="btn-current" 
              disabled>Current</button -->
      <a ng-if="config.button2" ng-click="hideFn({str: item[config.arg]})">{{config.button2}}</a>

    </div>
    <div ng-if="expanded" class="panel item-details">
        <display obj="item" config="displaycfg"></display>
    </div>
  </div>

</div>


<button ng-if="config.csv" type="button" ng-csv="getArray()" csv-header="getHeader()" filename="export.csv">Export</button>
