<table ng-class="config.cssclass" id="list-{{config.id}}">
  <caption ng-if="config.title">{{config.title}}</caption>
  <tr ng-if="config.headers">
    <th ng-repeat="title in config.headers">{{title}}</th>
  </tr>
  <tr ng-repeat="item in items=(itemlist | filter: filterstring) | orderBy: config.order"
      id="item-{{item[config.arg]}}" class="animation">
    <td ng-repeat="name in config.fields" ng-switch on="name.split(',')[0]">
      <span ng-switch-when="numindex">{{itemlist.length - $parent.$parent.$index}}</span>
      <span ng-switch-when="timestamp">{{item.timestamp|stringtodate|date:'MMM dd HH:mm:ss' }}</span>
      <span ng-switch-when="weight">{{item[name] | weightstring}}</span>
      <span ng-switch-when="weight_total">{{item[name] | weightstring}}</span>
      <span ng-switch-when="weight_1">{{item[name] | weightstring}}</span>
      <span ng-switch-when="internal_lot_code">{{item[name] || item['lot_number']}}</span>
      <span ng-switch-when="pieces">{{item[name]}} pcs</span>
      <span ng-switch-when="boxes">{{item[name]}} cases</span>
      <span ng-switch-when="product">{{item[name.split(',')[0]][name.split(',')[1]]}}</span>
      <span ng-switch-when="grade_state">{{item.grade}} <label ng-if="item.state">({{item.state}})</label></span>
      <span ng-switch-when="grade_species">{{item.grade}} <label ng-if="item.species">({{item.species}})</label></span>
      <span ng-switch-when="size_grade">{{item.grade}} <label ng-if="item.size">({{item.size}})</label></span>
      <span ng-switch-when="ship_har">{{item.received_from}} - {{item.fleet}}</span>
      <span ng-switch-default>{{item[name]}}</span>
    </td>
    <td ng-if="config.button2" ng-click="secondFn({str: item[config.arg]})" class="btn_action">{{config.button2}}</td>
    <td ng-if="config.button  && !config.arg2" ng-click="updateFn({str: item[config.arg]})" 
        class="btn_action">>{{config.button}}</td>
    <td ng-if="config.button && config.arg2" 
        ng-click="updateFn({str: item[config.arg], str2: item[config.arg2]})" class="btn_action">>{{config.button}}</td>

  </tr>
  <tr ng-if="istotal === true">
    <td>Total:</td>

    <td ng-repeat="name in config.fields.slice(1, config.fields.length)" ng-switch="name">
      <span ng-switch-when="weight_1">{{items | sumOfValue:'weight_1'| weightstring}}</span>
      <span ng-switch-when="weight_total">{{items | sumOfValue:'weight_total'| weightstring}}</span>
      <span ng-switch-when="weight">{{items | sumOfValue:'weight'| weightstring}}</span>
      <span ng-switch-when="pieces">{{items | sumOfValue:'pieces'}} pcs</span>
      <span ng-switch-when="boxes">{{items | sumOfValue:'boxes'}} boxes</span>
      <span ng-switch-default></span>
    </td>

  </tr>
</table>

<button ng-if="config.csv" type="button" ng-csv="getArray()" csv-header="getHeader()" 
        filename="export.csv" class="btn-blue">Export</button>

