
  <table class = "fill">
    <tr>
      <td>Internal Lot code:</td>
      <td>Loin Number</td>
      <td colspan="2">Scan Info</td>
      <td></td>
    </tr>
    <tr ng-repeat = "item in list.included | orderBy: '-timestamp' | filter: search">
      <td>{{item.internal_lot_code ? item.internal_lot_code : item.lot_number}}</td>
      <td>{{item.loin_number}}</td>
      <td ng-if="item.grade">{{item.grade}}</td>
      <td ng-if="item.weight">{{(item.weight).toFixed(2)}}kg</td>
      <td ng-click="PatchObjRemoveContainer(item.id)">Remove</td>
    </tr>
  </table>

