<div class = "outline" ng-show="showScan">
  <div class = "admin" style="font-size:20px;">
    Supplier: {{supplier_lot.supplier}} Fleet:{{supplier_lot.fleet_vessel}}<br>
    {{supplier_lot.start_date|stringtodate|date:format:"MMM dd"}} - {{supplier_lot.end_date|stringtodate|date:format:"MMM dd"}}<br>
    {{supplier_lot.internal_lot_code}}
  </div>
  <hr>
  <div class = "input">
    <form class = "form">
      <span ng-if="fields.weight_1">{{fields.weight_1}}: <input type="number" ng-model="$parent.form.weight_1">kg<br><br></span>

      <span ng-if="fields.weight_2">{{fields.weight_2}}: <input type="number" ng-model="$parent.form.weight_2">kg<br><br></span>

      <span ng-if="fields.grade">{{fields.grade}}:<input type="radio" id="radio1" name="radios" ng-model="$parent.form.grade" value="A"><label for="radio1">A</label>
      <input type="radio" id="radio2" name="radios" ng-model="$parent.form.grade" value="B"><label for="radio2">B</label>
      <input type="radio" id="radio3" name="radios" ng-model="$parent.form.grade" value="C"><label for="radio3">C</label>
      <input type="radio" id="radio4" name="radios" ng-model="$parent.form.grade" value="D"><label for="radio4">D</label><br><br></span>

      <input type="button" ng-click="Clear('item_entry')" value="Clear">
      <input ng-if="options.print==='true'" type="button" ng-click="DatabaseItem(form)" value="Submit/Print">
      <input ng-if="options.print==='false'" type="button" ng-click="DatabaseItem(form)" value="Submit">
    </form>
    <br>
    <br>

    <table class = "fill">
      <tr ng-repeat = "item in items | orderBy: '-timestamp' | filter: item.lot_number=currentlot | limitTo:5">
        <td ng-if="item.grade">{{item.grade}}</td>
        <td ng-if="item.weight_1">{{(item.weight_1).toFixed(2)}}kg</td>
        <td ng-if="item.weight_2">{{(item.weight_2).toFixed(2)}}kg</td>
        <td>{{item.timestamp|stringtodate|date:'MMM dd HH:mm:ss' }}</td>
        <td ng-click="RemoveItem(item.id)">Remove</td>
      </tr>
    </table>

  </div>
</div>

