<div class = "outline" ng-show="showScan">
  <div class = "admin" style="font-size:20px;">
    Supplier: {{current.supplier_lot.supplier}} Fleet:{{current.supplier_lot.fleet_vessel}}<br>
    {{current.supplier_lot.start_date|stringtodate|date:format:"MMM dd"}} - {{current.supplier_lot.end_date|stringtodate|date:format:"MMM dd"}}<br>
    Internal Lot number: {{current.supplier_lot.internal_lot_code}}
  </div>
  <hr>
  <div class = "input">
    <form class = "form">
      <span ng-if="fields.weight_1">{{fields.weight_1}}: <input type="number" ng-model="$parent.form.weight_1">kg<br><br></span>

      <span ng-if="fields.weight_2">{{fields.weight_2}}: <input type="number" ng-model="$parent.form.weight_2">kg<br><br></span>

      <span ng-if="fields.weight">{{fields.weight}}: <input type="number" ng-model="$parent.form.weight">kg<br><br></span>

      <span ng-if="fields.grade">{{fields.grade}}:
      <input type="radio" id="radio1" name="radios" ng-model="$parent.form.grade" value="A"><label for="radio1">A</label>
      <input type="radio" id="radio2" name="radios" ng-model="$parent.form.grade" value="B"><label for="radio2">B</label>
      <input type="radio" id="radio3" name="radios" ng-model="$parent.form.grade" value="C"><label for="radio3">C</label>
      <input type="radio" id="radio4" name="radios" ng-model="$parent.form.grade" value="D"><label for="radio4">D</label><br><br></span>

      <span ng-if="fields.state">{{fields.state}}:
      <input type="radio" id="radio5" name="radios" ng-model="$parent.form.state" value="Dirty"><label for="radio5">Dirty</label>
      <input type="radio" id="radio6" name="radios" ng-model="$parent.form.state" value="Clean"><label for="radio6">Clean</label>
      <br><br></span>

      <input type="button" ng-click="Clear('item_entry')" value="Clear">
      <input ng-if="options.print==='true'" type="button" ng-click="Submit(form)" value="Submit/Print">
      <input ng-if="options.print==='false'" type="button" ng-click="Submit(form)" value="Submit">
    </form>
    <br>
    Most Recent:
    <table class = "fill">
      <tr ng-repeat = "item in list.items | orderBy: '-timestamp' | filter: item.lot_number=currentlot | limitTo: 1">
        <td ng-if="item.grade">{{item.grade}}</td>
        <td ng-if="item.weight">{{(item.weight).toFixed(2)}}kg</td>
        <td ng-if="item.weight_1">{{(item.weight_1).toFixed(2)}}kg</td>
        <td ng-if="item.weight_2">{{(item.weight_2).toFixed(2)}}kg</td>
        <td ng-if="item.state">{{item.state}}</td>
        <td ng-click="RemoveItem(item.id)">Remove</td>
      </tr>
    </table>
    Totals:
    <table class="fill">
      <tr ng-repeat = "total in list.totals">
        <td>Total {{total.grade}} {{total.state}}:</td>
        <td>{{(total.weight1).toFixed(2)}}kg</td>
        <td ng-if ="total.weight2">{{(total.weight2).toFixed(2)}}kg</td>
      </tr>
    </table>

  </div>
</div>

