Most Recent:
<table class = "fill">
  <tr ng-repeat = "item in list.included | orderBy: '-timestamp' | filter: item.lot_number=currentlot | limitTo: 1">
    <td ng-if="item.grade">{{item.grade}}</td>
    <td ng-if="item.weight">{{(item.weight).toFixed(2)}}kg</td>
    <td ng-if="item.weight_1">{{(item.weight_1).toFixed(2)}}kg</td>
    <td ng-if="item.weight_2">{{(item.weight_2).toFixed(2)}}kg</td>
    <td ng-if="item.state">{{item.state}}</td>
    <td ng-click="RemoveItem(item.loin_number)">Remove</td>
  </tr>
</table>
