<table>
  <tr>
    <th colspan="2">{{title}}</th>
  </tr>
  <tr ng-repeat-start="lot in lot_stage[from_stage]">
    <td>
      <button ng-if="lot.expanded" ng-click="lot.expanded = false">-</button>
      <button ng-if="!lot.expanded" ng-click="lot.expanded = true">+</button>
    </td>
    <br>
    <td>{{lot.supplier}} : {{lot.fleet_vessel}}</td>
    <td>{{lot.start_date|stringtodate|date:format:"MMM dd"}} - {{lot.end_date|stringtodate|date:format:"MMM dd"}}</td>
    <td>{{lot.internal_lot_code}}</td>
    <td><button ng-click="PatchLotWithNextStage(lot.lot_number)">{{ label }}</button></td>
    <td><button ng-if="prev_stage" ng-click="PatchLotWithPrevStage(lot.lot_number)">Move Back</button></td>
  </tr>
  <tr ng-if-start="lot.expanded">
    <td></td>
    <td colspan = "2">Lot Number: {{lot.lot_number}}<td>
  </tr>
  <tr ng-if-end ng-repeat-end=""></tr>
</table>
