<!-- create new lot within  weighstation ie. HS receiving-->

<div ng-controller="NewLotCtrl" class="select_object" ng-cloak>
  <div class="select_header" ng-class="{lot_chosen: current.collectionid}"
      ng-click="changelot()">
    <span class="show_choices">Set Current Lot</span>
  </div>
  <div class="show_choices" ng-hide="current.collectionid">
    <input-dropdown  thelist="list.harvester"  config="adddropdown" on-select="GetHar(value)"></input-dropdown>
    <div class="form_buttons">

      <span class="switch_option" ng_class="{active: form.state=='Dirty'}"
          value="Dirty">Dirty</span>
      <div ng-click="toggleStateValue()" class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" 
               id="toggle-state" ng-checked="form.state=='Clean'">
        <label class="onoffswitch-label" for="toggle-state">
          <span class="onoffswitch-inner"></span>
          <span class="onoffswitch-switch"></span>
        </label>
      </div>
      <span class="switch_option" ng_class="{active: form.state=='Clean'}"
          value="Clean">Clean</span>

      <button ng-click="GenInternalLot(form)" class="btn-orange">Submit</button>

    </div>
    <input-dropdown  thelist="list.lot"  config="collectiondropdown" on-select="SetLot(value)"></input-dropdown>

  </div>
</div>

  
