
  <table class = "fill">
    <tr>
      <td>Number</td>
      <td colspan="2">Scan Info</td>
      <td>timestamp</td>
      <td></td>
    </tr>
    <tr ng-repeat = "item in list.included | orderBy: '-timestamp' ">
      <td>{{item.loin_number ? item.loin_number : list.included.length - $index}}</td>
      <td ng-if="item.grade">{{item.grade}}</td>
      <td ng-if="item.weight">{{(item.weight).toFixed(2)}}kg</td>
      <td ng-if="item.weight_1">{{(item.weight_1).toFixed(2)}}kg</td>
      <td ng-if="item.weight_2">{{(item.weight_2).toFixed(2)}}kg</td>
      <td>{{item.timestamp|stringtodate|date:'MMM dd HH:mm:ss' }}</td>
      <td ng-click="RemoveItem(item.id)">Remove</td>
    </tr>
  </table>

