<!-- directive for most dropdowns - allows typing to search for options -->
<div class="dropdown-container">
  <label ng-if="config.title" for="select-{{config.id}}">{{config.title}}: </label>
  <div class="dd_arrow"><span></span></div>

  <input ng-hide="(the_val || form)" ng-model="search[config.searchfield]" id="select-{{config.id}}">
  <div class="dropdown" ng-mousedown="">
    <div ng-if="!filter"  ng-repeat="value in thelist | orderBy: config.order | filter: search | limitTo: (limit||1000)" class="named">
        <div class="scroll_right" ng-click="select($event, value)" ng-mousedown="pcselect($event, value)"><b class="named">{{value[config.searchfield]}}</b>
        <span ng-repeat="field in config.fields" ng-switch="field" class="named">
          <span class="named">{{ config.delimeter || '|' }}</span>
          <span class="named" ng-switch-when="timestamp">{{value.timestamp|stringtodateshort }}</span>
          <span class="named" ng-switch-when="weight">{{value.weight|weightstring}}</span>
          <span class="named" ng-switch-when="internal_lot_code">{{value[field] || value['lot_number']}}</span>
          <span class="named" ng-switch-default >{{value[field]}}</span>
        </span> </div> 
    </div>
    <div ng-if="filter"  ng-repeat="value in thelist | orderBy: config.order | filter: {field_name:filter}: true |filter:search:strict" class="named">
        <div class="scroll_right" ng-click="select($event, value)" ng-mousedown="pcselect($event, value)"><b class="named">{{value[config.searchfield]}}</b>
        <span ng-repeat="field in config.fields" ng-switch="field" class="named">
          <span class="named">{{ config.delimeter || '|' }}</span>
          <span class="named" ng-switch-when="timestamp">{{value.timestamp|stringtodateshort }}</span>
          <span class="named" ng-switch-when="weight">{{value.weight|weightstring}}</span>
          <span class="named" ng-switch-when="internal_lot_code">{{value[field] || value['lot_number']}}</span>
          <span class="named" ng-switch-default >{{value[field]}}</span>
        </span> </div> 
    </div>
  </div>

  <div ng-if="the_val || form" ng-click="setnull()" class="input-text">
    <b ng-if="the_val || form">{{the_val[config.searchfield] || form[config.searchfield] || form}} </b>
    <span ng-if="the_val || form" ng-repeat="field in config.fields" ng-switch="field">
      <span>{{ config.delimeter || '|' }}</span>
      <span ng-switch-when="timestamp">{{(the_val.timestamp|stringtodateshort) || (form.timestamp|stringtodateshort)}}</span>
      <span ng-switch-when="weight">{{(the_val.weight|weightstring) || (form.weight|weightstring)}}</span>
      <span ng-switch-when="internal_lot_code">{{(the_val[field] || the_val['lot_number']) ||  (form[field] || form['lot_number'])}}</span>
      <span ng-switch-default >{{the_val[field] || form[field]}}</span>
    </span> 
  </div>


</div>
</div>


