<div class="dropdown-container">
  <label ng-if="config.title" for="select-{{config.id}}">{{config.title}}: </label>
  <div class="dd_arrow"><span></span></div>

  <input ng-hide="the_val" ng-model="search[config.searchfield]" id="select-{{config.id}}">
  <div class="dropdown"> 
    <div ng-repeat="value in thelist | orderBy: config.order | filter: search">
      <div ng-mousedown="select($event, value)">
        <b>{{value[config.searchfield]}}</b><span> - </span>
        <span ng-repeat="field in config.fields" ng-switch="field">
          <span ng-switch-when="weight">{{value.weight|weightstring}}</span>
          <span ng-switch-when="internal_lot_code">{{value[field] || value['lot_number']}}</span>
          <span ng-switch-default >{{value[field]}}</span>
          <span ng-if="!$last">{{ config.delimeter || '|' }}</span>
        </span>  
      </div> 
    </div>
  </div>

  <div ng-if="the_val" ng-click="setnull()" class="input-text">
    <b ng-if="the_val">{{the_val[config.searchfield]}}</b><span ng-if="the_val"> - </span>
    <span ng-if="the_val" ng-repeat="field in config.fields" ng-switch="field">
      <span ng-switch-when="weight">{{the_val.weight|weightstring}}</span>
      <span ng-switch-when="internal_lot_code">{{the_val[field] || the_val['lot_number']}}</span>
      <span ng-switch-default >{{the_val[field]}}</span>
      <span ng-if="!$last">{{ config.delimeter || '|' }}</span>
    </span> 
  </div>


</div>

