<!-- lot selector for weighstation, filtered by timestamp -->

<div ng-controller="LotSelectCtrl" class="select_object" id="selectsamedaylot" ng-cloak>
  <div class="select_header" ng-class="{lot_chosen: current.collectionid}"
       ng-click="current.collectionid = null;">
    <span class="show_choices">Choose Lot</span>
  </div>
  <div class="show_choices" ng-if="!current.collectionid">
    <input-dropdown  thelist="list.lot"  config="collectiondropdown" on-select="current.collectionid = value;"></input-dropdown>

    <input-dropdown  thelist="list.recent_lot"  config="adddropdown" on-select="current.collectionid = value;"></input-dropdown>
  </div>
</div>
