<div ng-controller="SelectLotDropDownCtrl" id="select_lot_dropdowns">
  <div class="select_lot_header" ng-class="{lot_chosen: current.collectionid}"
       ng-click="current.collectionid = null">
    <span class="show_choices">Select Lot</span>
    <div id="reprint_label_link" ng-click="switchSubstation(1)">Reprint Label</div>  
  </div> 
  <div class="show_choices" ng-hide="current.collectionid">
    <dropdown itemlist="list.harvester_lot"  cfg="collectiondropdown" selectedoption="current.selected" change-fn="changeFn(selected)"></dropdown>
    <dropdown itemlist="list.old_harvester_lot"  cfg="adddropdown" selectedoption="current.selected" change-fn="changeFn(selected)"></dropdown>
  </div> 
</div>   
