<!-- lot selector for weighstation, filtered by 'completed' -->

<div ng-controller="SelectLotDropDownCtrl" class="select_object">
  <div class="select_header" ng-class="{lot_chosen: current.collectionid}">
    <span class="show_choices" ng-click="current.collectionid = null">Select Lot</span>
    <div id="reprint_label_link" ng-if="substationlink" 
         ng-click="switchSubstation(substationlink.index)">{{substationlink.title}}</div>  
  </div> 
  <div class="show_choices" ng-hide="current.collectionid">
    <input-dropdown  thelist="list.harvester_lot"  config="collectiondropdown" on-select="changeFn(value)"></input-dropdown>
    <input-dropdown  thelist="list.old_harvester_lot"  config="adddropdown" on-select="changeFn(value)"></input-dropdown>
  </div> 
</div>   
