<!-- part of set up lot form -->
<div ng-controller="SetOriginCtrl" class="set_harvester">

  <div  class="select_object">
    <div class="select_header" ng-class="{lot_chosen: !current.harvester}" ng-click="current.harvester=null">
       <span class="show_choices">Set Fishing Info</span>
    </div> 
    <div class="inset_form"> 
      <div class="show_choices" ng-if="!current.harvester">
        <entryform config="addform" formchange="formchange" submit-fn="SubmitForm(form)"></entryform>
      </div>
      <display ng-if="current.harvester" settings="settings" obj="current.harvester" config="collection2display"></display>  
    </div>
  </div>
 
</div>
<div class="hr_marg"><hr></div>
