<!-- part of set up lot form -->
<div ng-controller="SetShipmentCtrl">
  
  <div  class="select_object">
    <div class="select_header" ng-class="{lot_chosen: !current.shipping_unit}" ng-click="current.shipping_unit=null">
       <span class="show_choices">Set Shipment Info</span>
    </div>
    <div class="inset_form"> 
      <div class="show_choices" ng-show="!current.shipping_unit">
        <entryform config="collectionform" formchange="formchange" submit-fn="SubmitForm(form)"></entryform>
      </div>
      <display ng-if="current.shipping_unit" settings="settings" obj="current.shipping_unit" config="collectiondisplay"></display>
    </div>
  </div>
</div>


<div class="hr_marg"><hr></div>

<div  class="select_object">
  <div class="select_header">
     <span class="show_choices">Receive Date</span>
  </div> 
  <div class="inset_form"> 
    <div class="show_choices">
      <div class="marg_left"><div class="field"><md-datepicker ng-model="current.receivedate" ng-model-options="{ timezone: 'utc' }" md-placeholder="Receive date"></md-datepicker></div></div> 
    </div>
    <display ng-if="current.supplier" settings="settings" obj="current.supplier" config="supplierdisplay"></display>  
  </div>
</div>

 

<div class="hr_marg"><hr></div>
