<div ng-controller="ThisfishLabelCtrl" class="packingstation">
  <br>
  Select Products:
  <br>

    <select size="5" multiple ng-model="available" ng-options="c.product_type for c in availableProducts" ng-change="moveItem(available[0], availableProducts, selectedProducts)" style="width: 400px"></select>
    <select size="5" multiple ng-model="selected" ng-options="c.product_type for c in selectedProducts" ng-change="moveItem(selected[0], selectedProducts, availableProducts)" style="width: 400px"></select>
  <br>

  <input id="moverightall" class="btn-blue" type="button" value="Add All Products" ng-click="moveAll(availableProducts,selectedProducts)" />   
  <input id="moveleftall" class="btn-blue" type="button" value="Remove All Products" ng-click="moveAll(selectedProducts,availableProducts)" />

  <br>

  <br>

  <div class="scanform">
  <fieldset>
  <form>
    <div class="form_row">
      <div class="form_label">
        <label>Label:</label>
      </div>
      <div class="field">
        <input id="scaninput" type="text" ng-model="label" autocomplete="off"></input>
      </div>
    </div>
  </form>
  </fieldset>
  <div class="form_buttons">
    <button class="btn-orange" ng-disabled="!label || selectedProducts.length<1" ng-click="GetCodes(label)">Get Codes</button>
  </div>
  </div>

  <br>

  <div  id="select_object"> 
    <div class="show_choices">
      <input-dropdown  thelist="list.label"  config="dropdownconfig" on-select="ShowCodes(value)"></input-dropdown>
    </div>
  </div>

  <list ng-if="list.codes && list.codes.length>0" itemlist="list.codes"  config="tableconfig"></list>

  <br>
  <br>
  <br>
  <br>

</div>
