<div ng-controller="ViewShipmentCtrl"  class="panel white">
  <dropdown itemlist="list.shipping_unit"  cfg="adddropdown" selectedoption="selected" change-fn="SetCurrent(selected)"></dropdown>
  {{current.shipping_unit.received_from}}  {{current.shipping_unit.timestamp|stringtodate|date:format:"MMM dd"}}
  <div class="itemsframe entries" id="shipment_totals1">
    <list itemlist="list.included"  config="totallistconfig" istotal="istotal"></list>
  </div>
  <div ng-init="showexpanded=false" id="shipment_totals2">
    <button ng-hide="showexpanded" ng-click="showexpanded=!showexpanded" class="btn-orange">View totals by Origin</button>
    <button ng-show="showexpanded" ng-click="showexpanded=!showexpanded" class="btn-orange">Hide</button>

    <div ng-show="showexpanded" ng-repeat="harvester in list.origin" class="itemsframe entries" id="shipment_totals2">
      {{list[harvester].harvester.supplier}}      
      <list itemlist="list[harvester].summary"  config="totallistconfig" istotal="istotal"></list>
    </div>
  </div>
</div>
