<div class = "outline" ng-show="showSummary">
  <div class = "admin" style="font-size:20px;">
    Supplier: {{current.harvester_lot.supplier}} Fleet:{{current.harvester_lot.fleet_vessel}}<br>
    {{current.harvester_lot.start_date|stringtodate|date:format:"MMM dd"}} - {{current.harvester_lot.end_date|stringtodate|date:format:"MMM dd"}}<br>
    Internal Lot number: {{current.harvester_lot.internal_lot_code}}
  </div>
  <hr>
  <div class = "summary">
    <table>
      <tr ng-repeat = "total in list.totals">
        <td>Total {{total.grade}} {{total.state}}:</td>
        <td>{{(total.weight1).toFixed(2)}}kg</td>
        <td ng-if ="total.weight2">{{(total.weight2).toFixed(2)}}kg</td>
      </tr>
    </table>
    <table class = "fill">
      <tr>
        <td>Number</td>
        <td colspan="2">Scan Info</td>
        <td>timestamp</td>
        <td></td>
      </tr>
      <tr ng-repeat = "item in list.included | orderBy: '-timestamp' ">
        <td>{{item.loin_number ? item.loin_number : list.included.length - $index}}</td>
        <td ng-if="item.grade">{{item.grade}}</td>
        <td ng-if="item.weight">{{(item.weight).toFixed(2)}}kg</td>
        <td ng-if="item.weight_1">{{(item.weight_1).toFixed(2)}}kg</td>
        <td ng-if="item.weight_2">{{(item.weight_2).toFixed(2)}}kg</td>
        <td>{{item.timestamp|stringtodate|date:'MMM dd HH:mm:ss' }}</td>
        <td ng-click="RemoveItem(item.id)">Remove</td>
      </tr>
    </table>
  </div>
  
</div>
