<div class = "outline" ng-show="showSummary">
  <div class = "admin" style="font-size:20px;">
    {{supplier_lot.supplier}} : {{supplier_lot.fleet_vessel}}<br>
    {{supplier_lot.start_date|stringtodate|date:format:"MMM dd"}} - {{supplier_lot.end_date|stringtodate|date:format:"MMM dd"}}
  </div>
  <hr>
  <div class = "summary">
    <table class = "fill">
      <tr ng-repeat = "item in items | orderBy: '-timestamp' | filter: item.lot_number=currentlot">
        <td ng-if="item.grade">{{item.grade}}</td>
        <td ng-if="item.weight_1">{{(item.weight_1).toFixed(2)}}kg</td>
        <td ng-if="item.weight_2">{{(item.weight_2).toFixed(2)}}kg</td>
        <td>{{item.timestamp|stringtodate|date:'MMM dd HH:mm:ss' }}</td>
        <td ng-click="RemoveItem(item.id)">Remove</td>
      </tr>
    </table>
  </div>
  
</div>
