<div class="table">
  <hr>
  <table>
    <tr>
      <th></th>
      <th colspan="2">Choose Supplier:</th>
      <th></th>
    </tr>
    <tr>
      <td colspan="3"><label>Supplier Group: <input ng-model="search.supplier_group"></label></td>
      <td colspan="3"><label>Supplier: <input ng-model="search.supplier"></label></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="2"><label>Fleet: <input ng-model="search.fleet_vessel"></label></td>
    </tr>
    <tr ng-repeat-start="supplier in list.suppliers | filter: search" ng-class="{selected: supplier.id === selectedsupplier}">
      <td>
        <button ng-if="supplier.expanded" ng-click="supplier.expanded = false">-</button>
        <button ng-if="!supplier.expanded" ng-click="supplier.expanded = true">+</button>
      </td>
      <td>{{supplier.supplier_group}}</td>
      <td>{{supplier.supplier}}</td>
      <td>{{supplier.fleet_vessel}}</td>
      <td>{{supplier.species_common}}</td>
      <td>{{supplier.fair_trade|isfairtrade}}</td>
      <td><button ng-click="SupplierFromStage(supplier.id)">Set Current</button></td>
    </tr>
    <tr ng-if-start="supplier.expanded">
      <td></td>
      <td colspan="3">Latin name: {{supplier.species_latin}}</td>
      <td colspan="3">Fishing Area: {{supplier.fishing_area}}</td>
    </tr>
    <tr>
      <td></td>
      <td colspan="3">State: {{supplier.state}}</td>
      <td colspan="3">Landing Location: {{supplier.landing_location}}</td>
    </tr>
    <tr>
      <td></td>
      <td colspan="3">Handling: {{supplier.handling}}</td>
      <td colspan="3">Country of Origin: {{supplier.country_origin}}</td>
    </tr>
    <tr>
      <td></td>
      <td colspan="3">Fishing Method: {{supplier.fishing_method}}</td>
      <td colspan="3">Country of Production: {{supplier.country_production}}</td>
    </tr>
    <tr ng-if-end ng-repeat-end=""></tr>
  </table>
  <hr>
</div>
