<div ng-controller="SetStage" class="step" ng-init="init(2)">
  <div ng-controller="SetSupplierCtrl">  
    <div class="block rmarg">
      <img src="../../images/scanthis_black_qr_360.jpg" height="100" width="200">
    </div>
    <div class="block">
      <h1>...........Manage Suppliers......</h1>
      {{supplier_lot.supplier}} : {{supplier_lot.fleet_vessel}}<br>
    {{supplier_lot.start_date|stringtodate|date:format:"MMM dd"}} - {{supplier_lot.end_date|stringtodate|date:format:"MMM dd"}}<br>
    Internal Lot Code:
    <span ng-if="supplier_lot.internal_lot_code">{{supplier_lot.internal_lot_code}}
      <input type="button" ng-click="LotCode('')" value="edit">
    </span>
    <input ng-if-start="!supplier_lot.internal_lot_code" type="text" ng-model="$parent.lot_code">
      <input ng-if-end type="button" ng-click="LotCode(lot_code)" value="submit"><br>
    

    </div>
    <supplierlist></supplierlist>  
    <div ng-controller="formCtrl" ng-init="init('supplier', 'supplier', 'suppliers')">
      <createform></createform>
    </div>
  </div>
</div>
