
  
  <div class="step" ng-controller="SetSupplierCtrl">

    <div class="block rmarg" ng-controller="GetCurrentCtrl">
      <img src="../../images/scanthis_black_qr_360.jpg" height="100" width="200">
    </div>

    <div class="block">
      <h1>...........Manage Sources......</h1>
      Supplier: {{current.harvester_lot.supplier}}  Fleet: {{current.harvester_lot.fleet_vessel}}<br>
      {{current.harvester_lot.start_date|stringtodate|date:format:"MMM dd"}} - {{current.harvester_lot.end_date|stringtodate|date:format:"MMM dd"}}<br>
      Internal Lot Code:
      <span ng-if="current.harvester_lot.internal_lot_code">{{current.harvester_lot.internal_lot_code}}
        <input type="button" ng-click="LotCode('', current.harvester_lot.internal_lot_code)" value="edit">
      </span>
      <input ng-if-start="!current.harvester_lot.internal_lot_code" type="text" ng-model="form.internal_lot_code">
      <input ng-if-end type="button" ng-click="LotCode(form.internal_lot_code, null)" value="submit"><br>    
    </div>

    <supplierlist></supplierlist>
    
    <button ng-click="addnew = !addnew"><span ng-show="addnew">Add New Supplier</span><span ng-hide="addnew">Hide</span></button>

    <div ng-controller="formCtrl" ng-init="init('harvester')" ng-hide="addnew">
      <createform></createform>
      <div ng-controller="HarvesterSubmitCtrl">
        <input type="submit" ng-click="SubmitAddtoList(form)" value="Save" />
      </div>
    </div>



    <hr>
    <button ng-click="editdrop = !editdrop"><span ng-show="editdrop">Edit Drop-down choices</span><span ng-hide="editdrop">Hide</span></button>
    <div ng-controller="DropDownCtrl" ng-init="init('harvester')" ng-hide="editdrop">
      <div class="block">
        <select ng-model="model.id">
          <option value="">-- select --</option>
          <option ng-repeat="option in formjson.fields | filter: search" value="{{option.id}}">{{option.title}}</option>
        </select>
      </div>
      <div class="block">
      <ul>
        <li ng-repeat="selection in formjson.fields[model.id].value">{{selection.name}}</li>
        <li><input  type="text" ng-model="model.new"><input type="button" ng-click="New(model.new)" value="Add" /></li>
      </ul>
      </div>
    </div>

  </div>



