<div class="stationframewide" ng-controller="LotCtrl">

  <table class="fill">
    <tr>
      <td>Lot Number</td>
      <td>Receiving</td>
      <td>Trimming</td>
      <td>Retouching</td>
      <td>Boxing</td>
      <td>Shipping</td>
    </tr>
    <tr ng-repeat="lot in list.lot_location" ng-if="lot.lot_number.substring(0, 3) === 'HS0'">
      <td>{{lot.lot_number}}</td>
      <td ng-class="{bluefill: lot.stations.indexOf('HS0-001') !== -1}">
        plastic/no plastic <br>
        <div ng-repeat = "total in list.s_one_totals | filter: lot_number = lot.lot_number | orderBy: 'state'">
          {{total.state}}:
          {{(total.weight1).toFixed(2)}}kg/{{(total.weight2).toFixed(2)}}kg
        </div>
      </td>

      <td ng-class="{bluefill: lot.stations.indexOf('HS0-002') !== -1}">
        <div ng-repeat = "total in list.s_two_totals | filter: lot_number = lot.lot_number | orderBy: 'grade'">
          {{total.grade}}:
          {{(total.weight1).toFixed(2)}}kg
        </div>
      </td>

      <td ng-class="{bluefill: lot.stations.indexOf('HS0-003') !== -1}">
        <div ng-repeat = "total in list.s_three_totals | filter: lot_number = lot.lot_number | orderBy: 'grade'">
          {{total.grade}}:
          {{(total.weight1).toFixed(2)}}kg
        </div>
      </td>

      <td ng-class="{bluefill: lot.stations.indexOf('HS0-004') !== -1}">
        <div ng-repeat = "total in list.s_four_totals | filter: lot_number = lot.lot_number | orderBy: 'grade'">
          {{total.grade}} {{total.size}}: 
          {{(total.sum).toFixed(2)}}kg
        </div>
      </td>
      <td ng-class="{bluefill: lot.stations.indexOf('HS0-005') !== -1}"></td>



    </tr>
  </table>



</div>
