<div class="stationframe" ng-controller="SetStation" ng-init="init('AM2-003')">
    <div class="columnframe block">
    <b>Weigh Production</b>
      <div class="sectionframe" ng-controller="DisplayCollectionCtrl">
        <!--begin collection info -->
        <div ng-controller="GetCurrentCtrl">
          Lot Number: {{current.collectionid}}<br>
          Start Time: {{current.lot.timestamp|stringtodate|date:'HH:mm'}}<br>
          {{current.index}}
        </div>
        <button ng-controller="WeighLotCtrl" ng-click="StationLot(list.todaylots[current.index+1].lot_number, current.index+1)">Move to Next Lot</button>
        <!--end collection info -->
      </div>
      
      <div class="sectionframe" ng-controller="WeighLotCtrl">
        <!-- begin choose collection -->
        Queue:
        <table class="fill">
          <tr ng-repeat="lot in list.todaylots" ng-class="{selectedlot: lot.lot_number === current.collectionid}">
            <td>{{$index}}</td>
            <td>{{lot.lot_number}}</td>
            <td>{{lot.timestamp|stringtodate|date:'HH:mm'}}</td>
            <td><button ng-click="StationLot(lot.lot_number, $index)">Set</button></td>
          </tr>
        </table>
        <!-- end choose collection -->
      </div>
      
      <div class="sectionframe" >
        <!--begin add scan info-->
        <createform ng-controller="formCtrl" ng-init="init('scan')"></createform>
        <clearsubmit ng-controller="ScanOnlyCtrl"></clearsubmit>
        <mostrecentscan ng-controller="RemoveScanCtrl"></mostrecentscan>
        <!--end add scan info-->
      </div>

    </div>
    <div class="columnframe block">

      <div class="sectionframe" ng-controller="TotalsCtrl">
        <!-- begin summary info  -->
        <scantotals></scantotals>
        <!-- end summary info  -->
      </div>

      <div class="sectionframe itemsframe" ng-controller="DisplayItemsCtrl">
        <!--begin full items list -->
        <scansummary ng-controller="RemoveScanCtrl"></scansummary>
        <!--end full items list -->
      </div>

    </div>

  </div>
