<div class="step" ng-controller="SetStation" ng-init="init('AM2-ADM')">
  


  <div ng-controller="NewFormScope">
    <b>Create Processor Entry:</b>
    <div ng-controller="formCtrl" ng-init="init('processor')">
      <createform></createform>
      <div ng-controller="FormSubmitCtrl">
        <input type="submit" ng-click="SubmitAddDB(form)" value="Save" />
      </div>
    </div>
  </div>
  <br>
  <br>


  <div ng-controller="NewFormScope">
    <b>Create Harvester Entry:</b>
    <div ng-controller="formCtrl" ng-init="init('harvester')">
      <createform></createform>
      <div ng-controller="FormSubmitCtrl">
        <input type="submit" ng-click="SubmitAddDB(form)" value="Save" />
      </div>
    </div>
  </div>

  <br>
  <br>
  



  <button ng-controller="PrintCtrl" ng-click="printDiv('printableArea');">Print Div</button>
  <br>
  <br>
  <div ng-controller="CSVCtrl">
  <button type="button" ng-csv="csvcontent" field-separator="," filename="test.csv">Export CSV</button>
  </div>


</div>

