<div class="step" ng-controller="SetStation" ng-init="init('AM2-ADM')">
  
  <b>Create Processor Entry:</b>
  <div ng-controller="formCtrl" ng-init="init('processor')">
    <createform></createform>
    <div ng-controller="FormSubmitCtrl">
      <input type="submit" ng-click="SubmitAddtoList(form)" value="Save" />
    </div>
  </div>
  <br>
  <br>



  <b>Create Harvester Entry:</b>
  <div ng-controller="formCtrl" ng-init="init('harvester')">
    <createform></createform>
    <div ng-controller="FormSubmitCtrl">
      <input type="submit" ng-click="SubmitAddtoList(form)" value="Save" />
    </div>
  </div>

</div>

