
<div id="packing" ng-controller="PackingCtrl" ng-init = "init('box', 'box_id', 'recent_boxes', 'boxes', 'item')">    
  
  <div class="step">
    Create Box:<br><br>
    <div class="block">
      <div ng-controller="formCtrl" ng-init="init('box', 'box', 'boxes')">
      <createform></createform>
    </div>
    
    </div>
    
  </div>
  <br>
  
  <div class="step">
    Add Items:<br><br>
    <form>
      Item Id: <input type="text" ng-model="obj_id">
      <input type="button" ng-click="PutObjInContainer(obj_id)" value="Add"><br>
      <input type="button" ng-click="CalcBox()" value="Calculate Total Weight"><br>
    </form>
    <form>
      <input type="button" value="print">
    </form>
  </div>
  <br>
  
  <div class="step">
    Verify:<br><br>
    <select name="singleSelect" ng-model="Selected" ng-change="CurrentContainer(Selected)">
      <option ng-repeat = "box in boxes">{{box.id}}</option>
    </select>
    <div class="block">
      <ul>
        <li>Box id: {{current[0].id}}</li>
        <li>FT Box #: {{current[0].ft_box_num}}</li>      
        <li>Size: {{current[0].size}}</li>
        <li>Grade: {{current[0].grade}}</li>
        <li>Packing Date: {{current[0].packing_date | stringtodate |date : format : shortDate}}</li>
        <li>Best Before Date: {{current[0].best_before_date}}</li>
        <li>Production Date Code: {{current[0].prod_date_code}}</li>
        <li>Processing Location: {{current[0].process_location}}</li>
        <hr>
        <li>Weight: {{current[0].weight}}kg</li>
        <li>Lot Number: {{current[0].lot_number}}</li>
        <li>Number of Pieces: {{current[0].num_loins}}</li>
      </ul>
    </div>
    <div class="verticalLine">
      <table>
        <tr>
          <td>Item id</td>
          <td>Weight</td>
          <td>Lot Number</td>
          <td>Grade</td>
        </tr>
        <tr ng-repeat="item in includeditems">
          <td>{{item.id}}</td>
          <td>{{item.weight_1}}kg</td>
          <td>{{item.lot_number}}</td>
          <td>{{item.grade}}</td>
          <td ng-click="PatchObjRemoveContainer(item.id)">Remove</td>
        </tr>
      </table>
    </div>
  </div>
    
  </div>
