<div ng-controller="SetStation" ng-init="init('HS0-005')">
  
  <div class="stationframe">
    <div class="columnframe block">
      <b>Shipping</b>
      <div class="sectionframe" ng-controller="formCtrl" ng-init="init('shipping_unit')">
        <!-- begin choose collection -->
        <div ng-controller="SelectDropDownCtrl">
          Recent Shipments:
          <select name="singleSelect" ng-model="current.collectionid">
            <option ng-repeat = "ship in list.shipping_unit | orderBy: '-timestamp' | limitTo: 5" value={{ship.id}}>{{ship.po_number}}</option>
          </select>
        </div>
        <br>
        Create Shipping Entry:<br><br>
          <createform></createform>
          <div ng-controller="FormSubmitCtrl">
            <input type="submit" ng-click="SubmitAddSetCurrent(form)" value="Save" />
          </div>
        <!-- end choose collection -->
      </div>

      <div class="sectionframe" ng-controller="PackingCtrl" ng-init = "init('shipping_unit', 'box', 'box', 'box_id')">
        <!--begin add scan info-->
        Add Cases: <br><br>
        <form>
          Box ID: <input type="text" ng-model="obj_id">
          <input type="button" ng-click="PutObjInContainer(obj_id)" value="Add"><br>
        </form>
        <!--end add scan info-->
      </div>

    </div>

    <div class="columnframe block">
      
      <div class="sectionframe" ng-controller="DisplayCollectionCtrl">
        <!--begin collection info -->
        <div shipinfo ship="current.shipping_unit"></div>
        <!--end collection info -->
      </div>

      <div class="sectionframe">
        <!-- begin summary info  -->
        <!-- end summary info  -->
      </div>

      <div class="sectionframe itemsframe" ng-controller="DisplayItemsCtrl">
        <!--begin full items list -->
        <div ng-controller="RemovePatchCtrl" ng-init = "init('shipping_unit', 'box', 'box', 'box_id')">
          <table class="fill">
            <tr>
              <td>Box id</td>
              <td>weight</td>
              <td>lot number</td>
              <td>Case Number</td>
            </tr>  
            <tr ng-repeat="box in list.included">
              <td>{{box.id}}</td>
              <td>{{box.weight}}kg</td>
              <td>{{box.lot_number}}</td>
              <td>{{box.case_number}}</td>
              <td ng-click="PatchObjRemoveContainer(box.id)">Remove</td>
            </tr>
          </table>
        </div>
        <!--end full items list -->
      </div>

    </div>
    
  </div>

</div>


