<div ng-controller="harsamShippingCtrl">
  <div class="section">
    <form>
      P.O Number: <input type="text" ng-model="form.po_number" ><br>
      Customer: <input type="text" ng-model="form.customer" ><br>
      Bill of Lading: <input type="text" ng-model="form.bill_of_lading" ><br>
      Vessel Name: <input type="text" ng-model="form.vessel_name" ><br>
      Container Number: <input type="text" ng-model="form.container_number" ><br>
      <input type="button" ng-click="ShippingEntry(form)" value="Create Shipping Entry" />
    </form>
  </div>
  <div class="section">
    <form>
      Box ID: <input type="text" ng-model="box_id">
      <input type="button" ng-click="PatchBoxWithShipping(box_id)" value="Add"><br>
    </form>
  </div>
  <div class="section">
    <table>
      <tr>
        <td>P.O. Number: {{shipping.po_number}}</td>
        <td>Customer: {{shipping.customer}}</td>
        <td>Bill of Lading: {{shipping.bill_of_lading}}</td>
      </tr>
      <tr>
        <td>Vessel Name: {{shipping.vessel_name}}</td>
        <td>Container Number: {{shipping.container_number}}</td>
      </tr>
    </table>
      <div class="verticalLine">
        <ul ng-repeat="box in boxes">
          <li>{{box}}</li>
        </ul>
      </div>

  </div>

</div>
