<div ng-controller="SetProcessor" ng-init="init('HS0')">
  <div ng-controller="SetStage" ng-init="init(8)">
    <div ng-controller="SetStation" ng-init="init(7)">
      <div id="packing" ng-controller="PackingCtrl" ng-init = "init('box', 'loin', 'loin_scan')">    
        
        <div class="step" ng-controller="formCtrl" ng-init="init('box')">
          Create Case:<br><br>
          <createform></createform>
          <div ng-controller="formsubmitCtrl">
            <input type="submit" ng-click="Submit(form)" value="Save" />
          </div>               
        </div>

        
        <div class="step">
          Add Items:<br><br>
          Item Id: <input type="text" ng-model="obj_id">
          <input type="button" ng-click="PutObjInContainer(obj_id)" value="Add"><br>        
        </div>

        
        <div class="step" ng-controller="BoxLabelCtrl">
          Verify:<br><br>
          <form>
            <input type="button" ng-click="CalcBox()" value="Calculate Total Weight">
            <input type="button" ng-click="BoxQR()"   value="Make qr!">
            <qrscan thedata="current.box"></qrscan>
          </form>
          <br>
          <select name="singleSelect" ng-model="Selected" ng-change="CurrentContainer(Selected)">
            <option ng-repeat = "box in list.box">{{box.id}}</option>
          </select>
            <div boxinfo box="current.box"></div>
          <loinlist></loinlist>
        </div>

      </div>
    </div>
  </div>
</div>
