
<div id="packing" ng-controller="harsamPackingCtrl" ng-init = "init({'ft_box_num':'','size':'', 'grade':'', 'lot_number':'', 'packing_date': '', 'best_before_date':''}, 'box', 'box_id', 'recent_boxes', 'boxes', 'item')">    
  Create Box:
  <div class="section">
    <div class="block">
      <form>
        FT Box #: <input type="text" ng-model="form.ft_box_num" ><br>
        Size: 
        <select ng-model="form.size">
          <option value="3">3</option>
          <option value="3-5">3-5</option>
          <option value=">5">>5</option>
        </select><br>
        Grade: 
        <select ng-model="form.grade">
          <option value="A">A</option>
          <option value="AA">AA</option>
          <option value="AAA">AAA</option>
        </select><br>
        <input type="button" ng-click="ContainerEntry(form)" value="Create" />
      </form>
    </div>
    
  </div>
  Add Loins:
  <div class="section">
    <form>
      Item Id: <input type="text" ng-model="obj_id">
      <input type="button" ng-click="PutObjInContainer(obj_id)" value="Add"><br>
      <input type="button" ng-click="CalcBox()" value="Calculate Total Weight"><br>
    </form>
    <form>
      <input type="button" value="print">
    </form>
  </div>
  Verify:
  <div class="section">
    <select name="singleSelect" ng-model="Selected" ng-change="CurrentContainer(Selected)">
      <option ng-repeat = "box in boxes">{{box.id}}</option>
    </select>
    <div class="block">
      <ul>
        <li>Box id: {{container.id}}</li>
        <li>FT Box #: {{container.ft_box_num}}</li>      
        <li>Size: {{container.size}}</li>
        <li>Grade: {{container.grade}}</li>
        <li>Packing Date: {{container.packing_date | stringtodate |date : format : shortDate}}</li>
        <li>Best Before Date: {{container.best_before_date}}</li>
        <hr>
        <li>Weight: {{container.weight}}kg</li>
        <li>Lot Number: {{container.lot_number}}</li>
      </ul>
    </div>
    <div class="block verticalLine">
      <table>  
        <tr ng-repeat="item in includeditems">
          <td>{{item.id}}</td>
          <td>{{item.weight_1}}kg</td>
          <td>{{item.lot_number}}</td>
          <td>{{item.grade}}</td>
          <td ng-click="PatchObjRemoveContainer(item.id)">Remove</td>
        </tr>
      </table>
    </div>
  </div>
    
  </div>
