
<div ng-controller="formCtrl" ng-init="init('shipping_unit')">
  <createform></createform>
  <div ng-controller="formsubmitCtrl">
    <input type="submit" ng-click="Submit(form)" value="Save" />
  </div>
</div>
<br>
<br>





<div ng-controller="BoxCtrl" ng-init="init()">
  size: <input  type="text" ng-model="form.size" ><br>
  grade: <input  type="text" ng-model="form.grade" ><br>
  pieces: <input  type="text" ng-model="form.pieces" ><br>
  weight: <input  type="text" ng-model="form.weight" ><br>
  case number: <input  type="text" ng-model="form.ft_box_num" ><br>
  Lot Number: <input type="text" ng-model="form.lot_number"><br>
  supplier id:<input type="text" ng-model="form.supplier_id"><br>
  <button ng-click="MakeBox()">submit</button><br><br>

  <boxsummary></boxsummary>

</div>

