<div ng-controller="harsamAdminCtrl1">
  <div class="selectlot">
    <table>
      <tr>
        <th>Supplier ID</th>
        <th>Supplier Name</th>
      </tr>
      <tr ng-repeat="sup in suppliers" ng-click="setSelected(sup)" ng-class="{selected: sup === selected_id}">
        <td>{{sup.id}}</td>
        <td>{{sup.name}}</td>
      </tr>
    </table>
  </div>


  <div class="selectlot">
    <table>
      <tr>
        <th colspan="2">Supplier Details</th>
      </tr>
      <tr>
        <td>ID</td>
        <td>{{selected_id.id}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{selected_id.name}}</td>
      </tr>
      <tr>
        <td>Supplier Group</td>
        <td></td>
      </tr>
      <tr>
        <td>Fishing area</td>
        <td></td>
      </tr>
      <tr>
        <td>Etc</td>
        <td></td>
      </tr>

    </table>
  </div>
  <div class="button" ng-click="SelectSupplier(selected_id.id)"><p>Set Current</p></div>
</div>



<div ng-controller="harsamAdminCtrl2">
  <div class="selectlot">
    <table>
      <tr>
        <th>lot number</th>
        <th>Supplier ID</th>
      </tr>
      <tr ng-repeat="lot in lots" ng-click="setSelected(lot)" ng-class="{selected: lot === selected_id}">
        <td>{{lot.lot_number}}</td>
        <td>{{lot.supplier_id}}</td>
      </tr>
    </table>
  </div>
  <div class="button" ng-click="SelectLot(selected_id.lot_number)"><p>Set Current</p></div>
  <div class="button" ng-click="MarkComplete(selected_id.lot_number)"><p>Mark Complete</p></div>
</div>

