<div class="sidebar">
</div>

<div class="main">

  <div class="step" ng-controller="harsamAdminCtrl1">
    <div class="block">
      <img src="../../images/fishing-boat-clip-art-160929.jpg" height="200" width="200">
    </div>
    <div class="block">
      <h1>............Receiving......</h1>
      <p>Supplier: {{selected.supplier_id}}</p>
      <p>New Lot number: {{selected.lot_number}}</p>
    </div>
    <div class="table">
      <table>
        <tr>
          <th></th>
          <th colspan="2">Choose Supplier:</th>
          <th></th>
        </tr>
        <tr ng-repeat="sup in suppliers">
          <td>+</td>
          <td>{{sup.id}}</td>
          <td>{{sup.name}}</td>
          <td><div class="button" ng-click="SelectSupplier(sup.id)"><p>Set Current</p></div></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="step" ng-controller="harsamAdminCtrl2">
    <div class="block">
      <br>
      <br>
      <img src="../../images/fish_outline_clip_art_6845.jpg" height="100" width="200">
    </div>
    <div class="block">
      <h1>............Processing......</h1>
      <p>Selected Lot #: {{selected.previous_lot_number}}</p>
      <p>New Lot number: {{selected.lot_number}}</p>
    </div>
    <div class="table">
      <table>
        <tr>
          <th></th>
          <th colspan="2">Choose Lot:</th>
          <th></th>
        </tr>
        <tr ng-repeat="lot in lots">
          <td>+</td>
          <br>
          <td>{{lot.lot_number}}</td>
          <td>{{lot.supplier_id}}</td>
          <td><div class="button" ng-click="SelectLot(lot.lot_number)"><p>Set Current</p></div></td>
          <!--todo: update immediately on mark complete-->
          <td><div class="button" ng-click="MarkComplete(lot.lot_number)"><p>Mark Complete</p></div></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="step">
  </div>
  





</div>

















