
<div ng-controller="LotCtrl" class="innerframe">
  <table class="fill">
    <tr>
      <td>Lot Number</td>
      <td ng-repeat="stn in sumStations">{{stn.name}}</td>
    </tr>
    <tr ng-repeat="lot in list.lot_location" ng-if="lot.lot_number.substring(0, 3) === 'HS0'">
      <td>
        {{lot.lot_number}}<br>
        {{lot.internal_lot_code}}
      </td>
      <td ng-repeat="stn in sumStations" ng-class="{bluefill: lot.stations.indexOf(stn.code) !== -1, blueoutline: (list.stationlot| filter: {collectionid:lot.lot_number, station_code:stn.code}).length>0}" >
        <div>
          <div ng-repeat = "sum in list.lot_summary | filter: {lot_number:lot.lot_number, station_code:(sumStations[$index-1].code ? sumStations[$index-1].code : 'random')} " >
            <div ng-init="$parent.prev=sum.pieces"></div>
          </div>
          <div ng-repeat = "sum in list.lot_summary | filter: {lot_number:lot.lot_number, station_code:stn.code} ">
            <b ng-class="{redfill: sum.pieces>prev, greenfill: sum.pieces===prev}">Pieces: {{sum.pieces}} | Weight: {{sum.weight_1.toFixed(2)}}kg <span ng-if="sum.weight_2">/{{sum.weight_2.toFixed(2)}}kg</span></b>
          </div>

          <br>
          <table>
            <tr class="fill2" ng-repeat = "total in list.totals_by_lot | filter: {lot_number:lot.lot_number, station_code:stn.code} | orderBy: 'state'">
              <td>{{total.state}} {{total.grade}}: </td>
              <td>{{total.pieces}}pcs </td> 
              <td>{{(total.weight1).toFixed(2)}}kg<span ng-if="total.weight2">/{{total.weight2.toFixed(2)}}kg</span></td>
            </tr>
          </table>
          <div>
            <button ng-if="stn.completelot && (list.stationlot| filter: {collectionid:lot.lot_number, station_code:stn.code}).length>0" ng-click="CompleteLot(lot.lot_number, stn.completelot)">Complete Lot</button>
            <button ng-if="lot.stations.indexOf(stn.code) !== -1" ng-csv="getData(lot.lot_number, stn.code)" filename="test.csv" csv-label="true">CSV</button>
            <!--<button ng-if="lot.stations.indexOf(stn.code) !== -1" ng-click="getData(lot.lot_number, stn.code)">CSV</button>-->
          </div>
        </div>
      </td>

    </tr>
  </table>
</div>

