<div class="sectionframe" ng-controller="PackingCtrl">
  <!--begin add scan info-->
  <div ng-controller="HighlightScanCtrl">
    Add Items:<br><br>
    <form id="scanform" ng-submit="PutObjInContainer(obj_id);obj_id=null;">
      Scan Loin: <input id="scaninput" type="text" ng-model="obj_id">
    </form>

    <div ng-controller="PrintCtrl">
      <div ng-controller="BoxLabelCtrl">
        <input type="button" ng-click="BoxQR()"   value="Print Box Label">
      </div>
    </div>
  </div>
  <!--end add scan info-->
</div>
