<div class="panel grey">
<div  ng-controller="LotCtrl" class="adminmanagelots">
  <div class="header">
    <input ng-model="searchText" class="search" placeholder="Search"></input>
    <div class="block marg_top"><span class="date_filter_label">Date Range</span></div>
    <md-datepicker ng-model="startDate" md-placeholder="Start date"></md-datepicker>
    <div class="block marg_top"><span class="date_filter_label">To</span></div>
    <md-datepicker ng-model="endDate" md-placeholder="End date"></md-datepicker>
    <button ng-click="FilterDate()">Go</button>
  </div>


<div> <span class="date_filter_label">Page: </span><span ng-repeat="page in list.pages" ng-click="BeginLoadLots(page)" ><div class="circle block" ng-class="{is_current:$parent.current.page===page}">{{page +1}}</div>
</span></div>






  <div buffered-scroll-lots id="admin_manage_lots" >
    <div class="inner_scrollable">
      <table>
        <tr class="adminlots_header">
          <th class="lot_column"><span>Lot</span></th>
          <th ng-repeat="stn in sumStations" class="station-column-{{stn.code}} lot-station-cell">
            <div class="icon {{stn.icon}}"></div><span>{{stn.name}}<span>
          </th>
        </tr>





        <tr>
          <td class="lot_column" valign="top">
            <div class="display_field">
              <div class="sum_label">
                <label>Summary</label>
                <div class="field_val lot_code">{{startDate|date:'MMM dd'}} - {{endDate|date:'MMM dd'}}</div>
                <div class="field_val_small">{{sum_info.num_lots}} Lots</div>
                <div class="field_val_small">
                  <span ng-repeat="row in options.sum_display">{{sum_info[row.field]}} {{row.name}} {{$last ? '' : ' / '}}</span>
                </div>

              </div>
            </div>
          </td>      
            
          </td>
          <td ng-repeat="stn in sumStations" class="station-column-{{stn.csscode}} lot-station-cell">
            <div ng-class="" class="panel blue_grey card_header">
              <span class="state">
                 <span ng-if="sum_info[stn.code].prev_yield || sum_info[stn.code].start_yield" class="card_bit yield">
                   <label>yield</label>
                   <span class="yield_val">
                     <span ng-if="sum_info[stn.code].prev_yield">{{ sum_info[stn.code].prev_yield.toFixed(0) }} |</span>
                     <span ng-if="sum_info[stn.code].start_yield">{{ sum_info[stn.code].start_yield.toFixed(0) }}</span> %
                   </span>
                 </span>
              </span>
              <span class="data">
                <span ng-if="sum_info[stn.code].pieces && !sum_info[stn.code].boxes && !stn.no_pieces" class="card_bit pieces">
                   <label>pcs</label>
                   <span class="value">{{sum_info[stn.code].pieces}}</span>
                 </span>  
               <span ng-if="sum_info[stn.code].boxes" class="card_bit boxes">
                 <label>Cases</label>
                 <span class="value">{{sum_info[stn.code].boxes}}</span>
               </span>  
               <span ng-if="sum_info[stn.code].weight_1" class="card_bit weight">
                 <label>weight</label>
                 <span class="value">
                   <span>
                     {{sum_info[stn.code].weight_1 | weightnum }}<sub>{{settings.entry_unit}}</sub>
                   </span>  
                 </span>
               </span>  
              </span> 
            </div>
          </td>
        </tr>









        <!-- tr ng-repeat="lot in list.harvester_lot | orderBy: '-timestamp' | filter: filter_lot | limitTo: limit" -->
        <tr ng-repeat="lot in list.paginated_lots | orderBy: '-timestamp' | filter: filter_lot | limitTo: limit">

          <td class="lot_column" valign="top">
            <div class="display_field">
              <div class="lot_label">
                <label>Internal Lot:</label>
                <span ng-if="lot.expanded" ng-click="lot.expanded = false" class="expand-control opened"></span>  
                <span ng-if="!lot.expanded" ng-click="lot.expanded = true" class="expand-control closed"></span>
              </div>
              <div class="field_val lot_code">{{lot.internal_lot_code || lot.lot_number}} <span ng-if="lot.ref_number"> - {{lot.ref_number}}</span> </div>
              <div ng-show="!lot.expanded" class="field_val_small" ng-repeat="row in options.compress_view">
                <span  ng-switch on="row.field">
                  <span ng-switch-when="receive_date">{{row.name}}: {{lot[row.field]|datestringtodate}}</span>
                  <span ng-switch-when="start_date">{{row.name}}: {{lot[row.field]|stringtodate}}</span>
                  <span ng-switch-default>{{row.name}}: {{lot[row.field]}}</span>
                </span>
              </div>
            </div>        
            <div ng-if="lot.expanded" class="expanded">


              <div ng-repeat="row in collectiondisplay.layout | tf_filter : 'val' : settings.thisfish_enabled" class="display_field" ng-switch on="row.val">
                <label>{{row.name}}:</Label>
                <div ng-switch-when="end_date" class="field_val">{{lot.end_date|stringtodate}}</div>
                <div ng-switch-when="start_date" class="field_val">{{lot.start_date|stringtodate}}</div>
                <div ng-switch-when="receive_date" class="field_val">{{lot.receive_date|datestringtodate}}</div>
                <div ng-switch-default class="field_val">{{lot[row.val]}}</div>
              </div>

              <button class="btn-light" 
                 ng-click="getAllData(lot.lot_number, lot.internal_lot_code)" >CSV</button>
            </div>
            
          </td>
          <td ng-repeat="stn in sumStations" class="station-column-{{stn.csscode}} lot-station-cell">
            <div ng-class="{lot_complete: !lot[stn.code].in_progress && !options.no_complete, warn_p: cssWarn(lot, stn) && station_info.trackBy==='pieces', warn_w: cssWarn(lot, stn) && station_info.trackBy==='weight_1', ok: cssOk(lot, stn)}" 
                 class="panel white card_header">

               <span class="state">
                <div ng-if="!(lot[stn.code].prev_yield || lot[stn.code].start_yield) && !lot[stn.code].in_progress && !options.no_complete" class="done_check"></div>
                 <span ng-if="(lot[stn.code].prev_yield || lot[stn.code].start_yield)" class="card_bit yield">
                   <label>yield</label>
                   <span class="yield_val">
                     <span ng-if="lot[stn.code].prev_yield">{{ lot[stn.code].prev_yield.toFixed(0) }}|</span>
                     <span ng-if="lot[stn.code].start_yield">{{ lot[stn.code].start_yield.toFixed(0) }}</span> %
                   </span>
                 </span>  
               </span>
               <!--</span>-->
               <span class="data">
                 <span ng-if="lot[stn.code].summary.boxes" class="card_bit boxes">
                   <label>Cases</label>
                   <span class="value">{{lot[stn.code].summary.boxes}}</span>
                 </span>                   
                 <span ng-if="lot[stn.code].summary.pieces && !lot[stn.code].summary.boxes && !stn.no_pieces" class="card_bit pieces">
                   <label>pcs</label>
                   <span class="value">{{lot[stn.code].summary.pieces}}</span>
                 </span>
                 <span ng-if="lot[stn.code].summary.weight_1" class="card_bit weight">
                   <label>weight</label>
                   <span class="value">
                     <span>
                       {{lot[stn.code].summary.weight_1 | weightnum }}<sub>{{settings.entry_unit}}</sub>
                     </span>  
                   </span>
                 </span>    
            </div>
            <div ng-if="lot.expanded" class="panel item-details">
              <table>
                <tr ng-repeat = "total in lot[stn.code].totals | orderBy:[myValueFunction, 'state', 'size']">
                  <td ng-if="total.grade">{{total.grade}}<label ng-if="total.species">  ({{total.species}})</label><label ng-if="total.state">  ({{total.state}})</label><label ng-if="total.size">  ({{total.size}})</label> </td>
                  <td ng-if="total.boxes">{{total.boxes}} cases </td>                  
                  <td ng-if="total.weight">{{total.weight | weightstring}}</td>
                  <td ng-if="total.weight_1">{{total.weight_1 | weightstring}}</td>
                  <td ng-if="total.pieces && !total.boxes && !stn.no_pieces">{{total.pieces}} pcs </td> 
                </tr>
              </table>

              <!-- complete lot buttons -->
              <button class="bottomright btn-blue" 
                  ng-if="stn.completelot && lot[stn.code].summary && lot[stn.code].in_progress" 
                  ng-click="CompleteLot(lot.lot_number, stn.completelot) ">Complete Lot</button>

              <button class="bottomright btn-blue" 
                  ng-if="stn.submitlot && !settings.thisfish_enabled && lot[stn.code].summary && lot[stn.code].in_progress" 
                  ng-click="CompleteLot(lot.lot_number, stn.completelot) ">Complete Lot</button>
                  
              <button class="bottomleft btn-light" 
                      ng-if="lot[stn.code].summary" ng-click="getTheData(lot.lot_number, stn, lot.internal_lot_code)" >CSV</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
    </div>
  </div>

</div>
