<div class="panel white packingstation" ng-controller="PackingCtrl">
  <div id="refresh">
    <a ng-click="RefreshPage()">Refresh</a>
  </div>
  <div any-other-click>
    <div  class="select_object" >
      <div class="select_header" ng-class="{lot_chosen: current.collectionid}"
           ng-click="current.collectionid = null;current.edit_box=false;current.select_change=!current.select_change;">
        <span class="show_choices">{{packingconfig.sectiontitle}}</span> 
      </div> 
      <div class="show_choices" ng-hide="current.collectionid">
        <div ng-controller="FormSubmitCtrl" id="create_box_form">
          <entryform config="collectionform" formchange="formchange" submit-fn="SubmitAddSetCurrent(form)"></entryform>
        </div>
        <div  ng-controller="CollectionTableDropDownCtrl">
          <input-dropdown  thelist="list.collection"  config="collectiondropdown" on-select="changeFn(value)" limit="10"></input-dropdown>
        </div>
      </div>
    </div>
    <div  ng-controller="DisplayCollectionCtrl" ng-show="current.collectionid" id="current_lot">
      <display settings="settings" obj="current[station_info.collectiontable]" config="collectiondisplay"></display>
      <i class="errortext" ng-if="current.mixed">Mixed Harvesters in Lot</i>
      <div ng-if="current[station_info.collectiontable]" class="pictogram_btns" ng-show="current[station_info.collectiontable]">
        <span ng-if="list.included.length==0  && !options.enable_edit" ng-click="delete()" id="clear-{{config.id}}" class="clear">Delete</span>
        <span ng-if="options.enable_edit" ng-click="showEdit()" id="clear-{{config.id}}" class="edit">Edit</span>
        <span ng-if="onLabel && list.included.length>0" ng-click="MakeQR()" 
              id="reprint-{{config.id}}" class="reprint">Reprint</span>
      </div>

      <span ng-if="settings.thisfish_enabled && options.thisfishlist" ng-controller="ThisfishAddCtrl">
        <button ng-if="!current.codes  && show_element!=='dropdown'" ng-disabled="!current.collectionid" ng-click="$parent.show_element='dropdown'">Add ThisFish Codes</button>
        <!--<dropdown ng-show="!current.codes && show_element==='dropdown'" itemlist="list.tf_codes" cfg="the_config" selectedoption="selectedoption" change-fn="SetCodes(selected)"></dropdown>-->

        <input-dropdown ng-show="!current.codes && show_element==='dropdown'" thelist="list.tf_codes"  config="the_config" on-select="SetCodes(value)"></input-dropdown>


        <span ng-show="current.codes">
          Thisfish Codes: <button ng-click="RemoveCodes(current.codes);$parent.current.codes=null;show_element=''">Remove</button>
          <span ng-repeat="code in current.products">
          <br>{{code}}
          </span>
          
        </span>
      </span>
    </div>

    <div ng-if="current.edit_box && options.enable_edit" ng-controller="FormSubmitCtrl" id="create_box_form">
        <entryform config="addform" formchange="formchange" submit-fn="SubmitEdit(form)"></entryform>
    </div>




  </div>

  <div class="scanform" ng-if="!options.qrform" >
    <fieldset ng-disabled="formdisabled">
      <form ng-submit="PutObjInContainer(input.code);" >
        <div class="form_row">
          <div class="form_label">
            <label for="{{row.fieldname}}">{{packingconfig.scantitle}}:
              <span ng-if="formdisabled===true"><i class="errortext">Choose collection</i></span>
            </label>
          </div>
          <div class="field">
            <input id="scaninput" type="text" ng-model="input.code" 
                   autocomplete="off" placeholder="Start scanning...">
          </div>
        </div>
      </form>
        
      <div class="form_buttons">
        <div class="pictogram_btns">
          <span class="manual_weight">Manual Input</span>
        </div>
        <input type="button" ng-click="Complete()"
               value="{{packingconfig.completetitle}}" class="btn-orange">
      </div> 
    </fieldset>    
  </div>

  <div class="scanform" ng-if="options.qrform" ng-controller="ReadBoxCtrl">
    <fieldset ng-disabled="formdisabled">
      <form ng-submit="readQR()">
        <div class="form_row">
          <div class="form_label">
            <label for="{{row.fieldname}}">{{packingconfig.scantitle}}:
              <span ng-if="formdisabled===true"><i class="errortext">Choose collection</i></span>
            </label>
          </div>
          <div class="field">
            <input id="scaninput" type="text" ng-model="raw.string" 
                   autocomplete="off" placeholder="Start scanning...">
          </div>
        </div>
        <div class="form_buttons">
          <input type="button" ng-click="Complete()"   value="{{packingconfig.completetitle}}" class="btn-orange">
        </div>
      </form>
    </fieldset>
  </div>


  <div id="overwrite">
    <div>
      <p>This code has been scanned to a different {{packingconfig.collection}}. Do you want to change this data entry?</p>
      <button class="btn-blue" ng-click="clearField();enablekeypress();overlay('overwrite')">Cancel</button>
      <button class="btn-blue" ng-click="PatchObjWithContainer();enablekeypress();overlay('overwrite')">Yes</button>
    </div>
  </div>

  <div id="mixgrade">
    <div>
      <p>Mixing grades in box. Continue?</p>
      <button class="btn-blue" ng-click="clearField();enablekeypress();overlay('mixgrade')">Cancel</button>
      <button class="btn-blue" ng-click="PatchObjWithContainer();enablekeypress();overlay('mixgrade')">Yes</button>
    </div>
  </div>

</div>


<div class="panel grey" ng-controller="RemovePatchCtrl" ng-show="!formdisabled && list.included.length>0 && current.collectionid">
  <div ng-if="options.calcbox" ng-controller="CalculateBoxCtrl"></div>
  <div ng-if="options.notifyharvester" ng-controller="HarvesterBoxCtrl"></div>

  <div class="itemsframe entries"  ng-controller="DisplayItemsCtrl">
      <bufferedscrolllist itemlist="list.included" listlength="list.length" config="itemlistconfig" update-fn="PatchObjRemoveContainer(str)" test-fn="HighlightGreen(str)"></bufferedscrolllist>
  </div>
  <div class="itemtotals table_row" >
    <div class="item_number">
      <span >{{packingconfig.summarytitle}} {{current[station_info.collectiontable][packingconfig.item_field]}}</span> 
    </div>
    <div class="totals_bit" ng-controller="PackingTotalCtrl">
      <div class="totals_caption">{{packingconfig.total_title}}</div>
      <div class="summary">
        <span>{{current.totals.weight| weightstring}}</span>
        <span>{{current.totals.pieces}} {{packingconfig.item_name}}</span>    
      </div>

    </div>
  </div>

  <div class="delete_dialogue" id="delete">
    <div>
      <p>Do you want to remove this item?</p>
      <p ng-if="station_info.patchtable==='box'">{{to_delete.case_number || to_delete.box_number}}</p>
      <p ng-if="station_info.patchtable==='loin'">{{to_delete.loin_number}}</p>
      <button class="btn-blue" ng-click="enablekeypress();overlay('delete')">Cancel</button>
      <button class="btn-blue" ng-click="PatchNull();enablekeypress();overlay('delete')">Yes</button>
    </div>
  </div>



</div>





