<div class="sectionframe">

  <div ng-controller="CollectionTableDropDownCtrl"> 
    <dropdown itemlist="list.collection"  cfg="collectiondropdown" change-fn="changeFn(selected)"></dropdown>
  </div>

  <br>
  <div ng-controller="FormSubmitCtrl">
      <entryform config="collectionform" form="form" formchange="formchange" submit-fn="SubmitAddSetCurrent(form)"></entryform>
  </div>
</div>


<div class="sectionframe" ng-controller="PackingCtrl">
  <div ng-controller="HighlightScanCtrl">

    {{packingconfig.sectiontitle}}:<br><br>
    <form id="scanform" ng-submit="PutObjInContainer(obj_id);obj_id=null;">
      {{packingconfig.scantitle}}: <input id="scaninput" type="text" ng-model="obj_id">
    </form>

    <div ng-controller="BoxLabelCtrl">
      <input type="button" ng-click="BoxQR()"   value="Print Box Label">
    </div>

  </div>
</div>


<div class="sectionframe"  ng-controller="DisplayCollectionCtrl">
  <boxinfo ng-if="station_info.collectiontable==='box'" box="current.box"></boxinfo>
  <div ng-if="station_info.collectiontable==='shipping_unit'" shipinfo ship="current.shipping_unit"></div>
</div>

<div ng-if="station_info.collectiontable==='box'" ng-controller="CalculateBoxCtrl"></div>

<div class="sectionframe itemsframe"  ng-controller="DisplayItemsCtrl">
  <div ng-controller="RemovePatchCtrl">
    <list itemlist="list.included"  config="itemlistconfig" update-fn="PatchObjRemoveContainer(str)" ></list>
  </div>
</div>
