<div any-other-click class="panel white  packingstation">
  <div id="refresh">
    <a ng-click="RefreshPage()">Refresh</a>
  </div>
  <div  class="select_object">
    <div class="select_header" ng-class="{lot_chosen: current.collectionid}"
         ng-click="current.collectionid = null">
       <span class="show_choices">{{packingconfig.sectiontitle}}</span>
    </div> 
    <div class="show_choices" ng-hide="current.collectionid">
      <div ng-controller="FormSubmitCtrl" id="create_box_form">
        <entryform config="collectionform" formchange="formchange" submit-fn="SubmitAddSetCurrent(form)"></entryform>
      </div>
      <div ng-controller="CollectionTableDropDownCtrl">
        <dropdown itemlist="list.collection"  cfg="collectiondropdown" selectedoption="current.selected" change-fn="changeFn(selected)"></dropdown>
      </div>
    </div>
  </div>
  <div ng-controller="DisplayCollectionCtrl" ng-show="current.collectionid" id="current_lot">
    <display obj="current[station_info.collectiontable]" config="collectiondisplay"></display>
  </div>

  <div class="scanform" ng-controller="QRScanCtrl" any-other-click>
    <fieldset ng-disabled="formdisabled">
      <form ng-submit="readQR()">
        <div class="form_row">
          <div class="form_label">
            <label for="{{row.fieldname}}">{{packingconfig.scantitle}}:
              <span ng-if="formdisabled===true"><i class="errortext">Choose collection</i></span>
            </label>
          </div>
          <div class="field">
            <input id="scaninput" type="text" ng-model="raw.string" 
                   autocomplete="off" placeholder="Start scanning...">
          </div>
        </div>
        <div class="form_buttons">
          <input type="button" ng-click="Complete()"   value="{{packingconfig.completetitle}}" class="btn-orange">
        </div>
      </form>
    </fieldset>
  </div>

</div>

<div class="panel grey itemsframe"  ng-controller="DisplayItemsCtrl">
  <div ng-controller="RemoveItemCtrl">
    <list itemlist="list.included"  config="itemlistconfig" update-fn="RemoveItem(str)" ></list>
  </div>
</div>


