
<loadcurrentcollection></loadcurrentcollection>

<div class="sectionframe" ng-controller="DisplayCollectionCtrl">
  <display obj="current[station_info.displaytable]" config="collectiondisplay"></display>

  <div ng-controller="EditFieldCtrl">
    Internal Lot Code:
    <span ng-if="current.harvester_lot.internal_lot_code">{{current.harvester_lot.internal_lot_code}}
      <input type="button" ng-click="LotCode('', current.harvester_lot.internal_lot_code)" value="edit">
    </span>
    <input ng-if-start="!current.harvester_lot.internal_lot_code" type="text" ng-model="form.internal_lot_code">
    <input ng-if-end type="button" ng-click="LotCode(form.internal_lot_code, null)" value="submit"><br>    
  </div>

</div>

<div ng-controller="SetSupplierCtrl">
  <div ng-controller="NewLotCtrl">

    <searchtext></searchtext>

    <expandedlist itemlist="list.harvester"  config="itemlistconfig" update-fn="SetCurrentHarvester(str)" hide-fn="RemoveHarvester(str)" filterstring="searchText" displaycfg="adddisplay"></expandedlist>

    <div ng-init="formtable='harvester'">  
      <div ng-controller="FormSubmitCtrl" ng-hide="addnew">
        <entryform config="collectionform" form="form" formchange="formchange" submit-fn="SubmitAddtoList(form)"></entryform>
      </div>
    </div>
    
    <hr>
  </div>
</div>




