<div ng-init="showforms=false" class="panel white" id="receiveshipment">

  <div ng-controller="DisplayCollectionCtrl"  id="current_lot">
    <display settings="settings" ng-if="current[station_info.collectiontable]" obj="current[station_info.collectiontable]" config="adddisplay"></display>
    <p ng-if="!current[station_info.collectiontable]">No Current Lot</p>    
  </div>

  <div><button ng-hide="showforms" ng-click="showforms=!showforms" class="btn-blue">Change Lot</button>
  <button ng-show="showforms" ng-click="showforms=!showforms" class="btn-blue">Hide</button></div>

  

  <div ng-controller="NewLotCtrl" ng-show="showforms" class="select_object">

  <input-dropdown  thelist="list.lot"  config="adddropdown2" on-select="SetLot(value);$parent.showforms=!showforms"></input-dropdown>


  <setshipmentinfo ng-show="showforms"></setshipmentinfo>
  <setharvesterinfo ng-show="showforms"></setharvesterinfo>

    <div class="select_header">
       <span class="show_choices">Set Lot Code</span>
    </div> 
    <div class="show_choices">
      <entryform config="scanform" formchange="formchange" submit-fn="SubmitNewLot(form);$parent.showforms=!showforms"></entryform>
    </div>
  </div>

</div>
