<div class='panel grey'>
  <div any-other-click class="sectionframe">

    <div ng-controller="CollectionTableDropDownCtrl">
      <dropdown itemlist="list.collection"  cfg="collectiondropdown" selectedoption="current.selected" change-fn="changeFn(selected)"></dropdown>
    </div>

    <br>
    <div ng-controller="FormSubmitCtrl">
        <entryform config="collectionform" formchange="formchange" submit-fn="SubmitAddSetCurrent(form)"></entryform>
    </div>
  </div>


  <div class="sectionframe" ng-controller="QRScanCtrl">
    <fieldset ng-disabled="formdisabled">
      <div>
          <form ng-submit="readQR()">
            Scan Field: <input  id="scaninput" type="text" ng-model="raw.string" autocomplete="off">
          </form>
        </div>
      <br>
      <input type="button" ng-click="Complete()"   value="{{packingconfig.completetitle}}">
    </fieldset>
  </div>

  <div class="sectionframe"  ng-controller="DisplayCollectionCtrl">
    <display obj="current[station_info.collectiontable]" config="collectiondisplay"></display>
  </div>


  <div class="sectionframe itemsframe"  ng-controller="DisplayItemsCtrl">
    <div ng-controller="RemoveItemCtrl">
      <list itemlist="list.included"  config="itemlistconfig" update-fn="RemoveItem(str)" ></list>
    </div>
  </div>

</div>


