<div ng-init="showforms=false" class="panel white" id="receiveshipment">

  <div ng-controller="DisplayCollectionCtrl" ng-hide="showforms"  id="current_lot">
    <display ng-if="current[station_info.collectiontable]" obj="current[station_info.collectiontable]" config="adddisplay"></display>
    <button ng-click="$parent.showforms=!$parent.showforms" class="btn-blue">Start New Lot</button>
  </div>

  <setshipmentinfo ng-show="showforms"></setshipmentinfo>
  <setharvesterinfo ng-show="showforms"></setharvesterinfo>

  <div ng-controller="NewLotCtrl" ng-show="showforms" class="select_object">
    <div class="select_header">
       <span class="show_choices">Set Lot Code</span>
    </div> 
    <div class="show_choices">
      <entryform config="scanform" formchange="formchange" submit-fn="SubmitNewLot(form);$parent.showforms=!showforms"></entryform>
    </div>
  </div>

</div>
