
<div ng-init="showforms=false;editforms=false;" class="panel white" id="receiveshipment">

  <div ng-controller="DisplayCollectionCtrl"  id="current_lot">
    <display settings="settings" ng-if="current[station_info.collectiontable]" obj="current[station_info.collectiontable]" config="adddisplay"></display>
    <p ng-if="!current[station_info.collectiontable]">No Current Lot</p>    
  </div>

  <div>
    <button ng-hide="showforms" ng-click="showforms=!showforms" class="btn-blue" ng-disabled="editforms">Choose Lot</button>
    <button ng-show="showforms" ng-click="showforms=!showforms" class="btn-blue">Hide</button>
  </div>

  <div ng-controller="LoadEditLotCtrl">
    <button ng-hide="editforms" ng-click="$parent.editforms=!editforms;GetEditShip()" class="btn-blue" ng-disabled="showforms">Edit Current Lot</button>
    <button ng-show="editforms" ng-click="$parent.editforms=!editforms" class="btn-blue">Hide</button>
  </div>

  

  <div ng-controller="NewLotCtrl" ng-show="showforms" class="select_object">

  <input-dropdown  thelist="list.stnlots"  config="adddropdown2" on-select="SetLot(value);$parent.showforms=!showforms"></input-dropdown>


  <setshipmentinfo></setshipmentinfo>
  <setsupplierinfo></setsupplierinfo>
  <setharvesterinfo></setharvesterinfo>


    <div class="centre_btn">
      <button class="btn-orange" ng-click="SubmitNewLot(form);$parent.showforms=!showforms">Enter</button>
    </div> 
    
  </div>


  <editreceivinglot></editreceivinglot>

</div>




<div class="panel white" id="receivingprintlabel">
    <div ng-controller="NewBoxCtrl" class="fieldsetrepeat">
        <span class="select_header">Add boxes</span>
       <fieldsetrepeat submit-fn="SubmitForm(choices);" config="scanform" formdisabled="formdisabled"></fieldsetrepeat>
    </div>

    <hr>

    <div ng-controller="CompleteLotCtrl">
      <button ng-if=" current.collectionid && current.collectionid!=='no selected'" 
              ng-disabled="current.completed===true" class="btn-blue" id="complete-lot"
              ng-click="CompleteLot(current.collectionid, [station_code])">Complete Lot</button>
    </div>
    
</div>








<div class="panel grey not" ng-controller="NoLabelTotalCtrl">

      <button ng-if=" current.collectionid && current.collectionid!=='no selected'" 
              ng-disabled="current.completed===true" class="btn-blue" id="complete-lot"
              ng-click="getTheData(current.collectionid, sumStations, current.harvester_lot.internal_lot_code)">CSV</button><br>




	<div class="itemsframe entries">
    <bufferedscrolllist itemlist="list.included" config="itemlistconfig" update-fn="RemoveScan(str)"></bufferedscrolllist>
  </div>
  <div class="itemtotals">
  	<list itemlist="list.boxes"  config="totallistconfig" istotal="istotal" ></list>
  </div>
</div>






      

