<div class="panel white" id="receiveshipment" ng-init="current.showforms='NONE'" ng-controller="NewLotCtrl">

  <div ng-controller="DisplayCollectionCtrl"  id="current_lot" class="display_collection">
    <display settings="settings" ng-if="current[station_info.collectiontable]" obj="current[station_info.collectiontable]" config="adddisplay"></display>
    <p ng-if="!current[station_info.collectiontable]">No Current Lot</p>
  </div>

  <div any-other-click>
    <div ng-controller="ListLotsCtrl" class="select_object lot_setup">
      <button ng-click="CreateButton()" class="btn-blue" ng-disabled="current.showforms==='EDIT' || current.showforms==='CREATE'">Create New Lot</button>
      <fieldset ng-disabled="current.showforms==='EDIT' || current.showforms==='CREATE'">
        <input-dropdown  thelist="list.stnlots"  config="adddropdown2" on-select="dropdownSelect(value)" ng-click="pcdropdownclick()" ng-mousedown="dropdownclick()"></input-dropdown>
      </fieldset>
    </div>
    <div class="is_inline">
      <button ng-click="SetLot(current.lot_to_edit_or_select)" class="btn-blue" ng-disabled="!current.lot_to_edit_or_select || current.showforms==='EDIT' || current.showforms==='CREATE'">Set Current</button>
    </div>
    <div ng-controller="LoadEditLotCtrl" class="editbuttons is_inline">
      <button ng-click="current.showforms='EDIT';SetEditLot(current.lot_to_edit_or_select)" class="btn-blue" ng-disabled="!current.lot_to_edit_or_select || current.showforms==='EDIT' || current.showforms==='CREATE'">Edit</button>
    </div>
    <div ng-controller="CSVReceivingCtrl" class="editbuttons is_inline">
      <button ng-disabled="!current.lot_to_edit_or_select || current.showforms==='EDIT' || current.showforms==='CREATE'"
                    ng-disabled="current.completed===true" class="btn-blue" id="complete-lot"
                    ng-click="getTheData(current.lot_to_edit_or_select, sumStations, current.internal_lot_code)">CSV</button>
    </div>
    

    <editreceivinglot></editreceivinglot>

    <div ng-controller="CreateLotCtrl" ng-show="current.showforms==='CREATE'" class="select_object">
      <button ng-click="current.showforms='NONE'" class="btn-blue">Cancel</button>
      <setshipmentinfo></setshipmentinfo>
      <setsupplierinfo></setsupplierinfo>
      <setharvesterinfo ng-if="!options.no_harvester"></setharvesterinfo>

      <div class="centre_btn">
        <button class="btn-orange" ng-click="SubmitNewLot(form)">Enter</button>
      </div> 
      
    </div>
  </div>


</div>

<div class="panel white" id="receivingprintlabel">

  <div class="scanform" ng-controller="ReadBoxCtrl">
    <!-- <fieldset ng-disabled="formdisabled"> -->
    <fieldset>
      <form ng-submit="readQR()">
        <div class="form_row">
          <div class="form_label">
            <label for="{{row.fieldname}}">{{packingconfig.scantitle}}:
              <span ng-if="formdisabled===true"><i class="errortext">Choose collection</i></span>
            </label>
          </div>
          <div class="field">
            <input id="scaninput" type="text" ng-model="raw.string" 
                   autocomplete="off" placeholder="Start scanning...">
          </div>
        </div>
        <div class="form_buttons">
          <input type="button" ng-click="Complete()"   value="{{packingconfig.completetitle}}" class="btn-orange">
        </div>
      </form>
    </fieldset>
  </div>


</div>


<div class="panel grey not" ng-controller="NoLabelTotalCtrl">
  <div ng-controller="DisplayItemsPackingCtrl">
    <div class="itemsframe entries">
      <bufferedscrolllist itemlist="datasource" listlength="list.length" config="itemlistconfig" update-fn="RemoveScan(str)" current="current" test-fn="HighlightGreen(str)"></bufferedscrolllist>
    </div>
    <div class="itemtotals">
    	<list itemlist="list.boxes"  config="totallistconfig" istotal="istotal" ></list>
    </div>

  </div>
</div>






      

