
<div ng-controller="ReprintCtrl" class="panel white reprint_label">
  <div class="select_header">
    <span class="show_choices">Filter By:</span>
    <div id="retouching_link" ng-click="switchSubstation(0)">Retouching</div>  
  </div> 
  <div class="show_choices">
    <div class="display_field">
      <label for="filter_loin_number">Loin Number:</label><input ng-model="search.loin_number" id="filter_loin_number">
    </div>
    <div class="display_field">
      <label for="filter_internal_lot_code">Internal Lot Code:</label><input 
             ng-model="search.internal_lot_code" id="filter_internal_lot_code">
    </div>
    <div>
      <input type="button" ng-click="ListFilteredItems(search.loin_number, search.internal_lot_code)"  class="btn-blue"
             value="Search" id="reprint-search">
    </div>
  </div>
  <div id="print_labels_list" class="itemsframe entries">
    <bufferedscrolllist itemlist="items"  listlength="items.length" config="itemlistconfig" update-fn="Reprint(str)" second-fn="EditLoin(str)"></bufferedscrolllist>
  </div>


  <div ng-if="current.edit_box" ng-controller="FormSubmitCtrl" id="create_box_form">
      <entryform config="addform" formchange="formchange" submit-fn="SubmitEdit(form)"></entryform>
  </div>


</div>
