<div class="panel grey" ng-controller="ShipListCtrl">
  <div  class="editshipentries">

    <span ng-if="options.ship_stations" id="radio-shipment" 
      class="toggle-group-container">
      <label ng-repeat="station in sumStations" for="ship{{$index}}" ng-click="changeStn($index)"  ><input  
             type="radio" id="ship{{$index}}" name="ship" ng-checked="stn.index===$index"
             ><span>{{station.label}}</span></label>
    </span>

    <span ng-if="!options.ship_stations">Outgoing Shipments</span>
    <br>
    <br>

    <div id="edit_shipment"  ng-if="!(current.shipment === undefined || current.shipment === null)"> 

      
      <div class="display_field">
        <label>{{sumStations[stn.index].ship}}:</label><span>{{current.shipment.timestamp|stringtodate|date:'MMM dd yyyy'}}</span>
      </div>
      <div class="display_field">
        <label>{{sumStations[stn.index].po_title || 'PO Number'}}:</label><span>{{current.shipment.po_number}}</span>
      </div>
      <div class="display_field">
        <label for="inp_customer">{{sumStations[stn.index].send}}:</label><input type="text" autocomplete="off" ng-model="current.shipment[sumStations[stn.index].send_field]" id="inp_customer">
      </div>
      <div class="display_field">
        <label for="inp_container_number">Container Number:</label><input type="text" autocomplete="off"
               ng-model="current.shipment.container_number" id="inp_container_number">
      </div>
      <div class="display_field">
        <label for="inp_bill_of_lading">Bill of Lading:</label><input type="text" autocomplete="off"
               ng-model="current.shipment.bill_of_lading" id="inp_bill_of_lading">
      </div>
      <div class="display_field">
        <label for="inp_vessel_name">Vessel Name:</label><input type="text" autocomplete="off"
               ng-model="current.shipment.vessel_name" id="inp_vessel_name">
      </div>
      <div class="display_field">
        <label for="inp_seal_number">Seal Number:</label><input type="text" autocomplete="off"
               ng-model="current.shipment.seal_number" id="inp_seal_number">
      </div>
      <div class="form_buttons">
        <input type="button" ng-click="ShipInfo()" value="Save" class="btn-orange">
      </div>

    </div>




    <div class="header">
      <input ng-model="searchText" class="search" placeholder="Search"></input>
      <div class="block marg_top"><span class="date_filter_label">Date Range</span></div>
      <md-datepicker ng-model="startDate" md-placeholder="Start date"></md-datepicker>
      <div class="block marg_top"><span class="date_filter_label">To</span></div>
      <md-datepicker ng-model="endDate" md-placeholder="End date"></md-datepicker>
      <div class="block no_wrap marg_top_5"><button ng-click="FilterShipDate()">Go</button></div>
    </div>

    <div  class="itemsframe entries">
      <div class="bufferedscroll" buffered-scroll id="list-21">
        <table>
          <tr>
              <th>{{sumStations[stn.index].ship}}</th>
              <th>{{sumStations[stn.index].po_title || 'PO Number'}}</th>
              <th>{{sumStations[stn.index].send}}</th>
              <th>Container Number</th>
              <th>Bill of Lading</th>
              <th>Vessel Name</th>
              <th>Seal Number</th>
              <th></th>
            </tr>
          <tr ng-repeat="ship in list.shipments | filter: filter_shipping | orderBy: '-timestamp'"
              id="item-{{ship.shipping_unit_number}}" class="animation">
              <td>{{ship.timestamp|stringtodate}}</td>
              <td>{{ship.po_number}}</td>
              <td>{{ship[sumStations[stn.index].send_field]}}</td>
              <td>{{ship.container_number}}</td>
              <td>{{ship.bill_of_lading}}</td>
              <td>{{ship.vessel_name}}</td>
              <td>{{ship.seal_number}}</td>
              <td class="btn_action" ng-click="Edit(ship)">Edit</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div ng-if="!(current.shipment === undefined || current.shipment === null)">
    <div class="marg">
      <span class="totals_caption">CSV Download: </span>
      <button class="btn-blue marg" ng-click="getTheData(current.shipment)">CSV</button>
    </div>
    <div class="itemtotals">
      Shipment totals
      <list itemlist="totals"  config="totallistconfig" istotal="istotal"></list>
    </div>
  </div>
</div>

<div id="keepzoom"></div>




