<div ng-controller="InventoryCtrl" class="editshipentries">
  <div class="panel white ">
    <span ng-if="options.inv_stations" id="radio-shipment" 
      class="toggle-group-container" ng-class="withChecked('station_code')">
      <label ng-repeat="station in sumStations" for="ship" ng-class="isChecked('station_code', option)"><input  
             type="radio" id="ship" value="{{station.id}}" ng-model="stn.index" 
             ><span>{{station.label}}</span></label>
    </span>
    <span ng-if="!options.inv_stations">In Inventory</span>
  </div>

  <div class="panel grey not">
    <!--<div class="itemsframe entries">
      <bufferedscrolllist itemlist="list.included" config="itemlistconfig"></bufferedscrolllist>
    </div>-->
    <div class="itemtotals">
      <list itemlist="list.items"  config="totallistconfig" istotal="istotal"></list>
    </div>
  </div>
</div>





