<div class="panel white weighstation_main">
  <div id="refresh">
    <a ng-click="RefreshPage()">Refresh</a>
  </div>

  <receivelot ng-if="options.receivelot"></receivelot>
  <selectfromcurrentlots ng-if="options.selectfromcurrentlots"></selectfromcurrentlots>
  <selectsamedaylot ng-if="options.selectsamedaylot"></selectsamedaylot>

  <div ng-show="current.collectionid">
    <div ng-controller="DisplayCollectionCtrl" id="current_lot">
      <display obj="current[station_info.collectiontable]" config="collectiondisplay"></display>
    </div>

    <div ng-if="prevStation" ng-init="station_code = prevStation" ng-controller="TotalsCtrl" id="prev_station_totals">
      <label>Previous  Station:</label><list ng-if="item2listconfig" itemlist="totals"  
          config="item2listconfig" istotal="istotal"></list><div ng-if="!item2listconfig" class="prev_summary"><span  
          ng-if="totals[0].weight">{{totals | sumOfValue:'weight'| weightstring}}</span><span 
          ng-if="totals[0].weight_1">{{totals | sumOfValue:'weight_1'| weightstring}}</span><span 
          ng-if="totals[0].pieces">{{totals | sumOfValue:'pieces'}}pcs</span><span 
          ng-if="totals[0].boxes">{{totals | sumOfValue:'boxes'}} boxes</span>
        </div>
    </div>
  </div>   

  <div ng-controller="ScanCtrl" class="scanform">
    <entryform ng-if="!tableinform" config="scanform" scale="scale" formchange="formchange" submit-fn="Submit(form)" 
               poll-fn="startPolling(field)" formdisabled="formdisabled"></entryform>

    <entryform ng-if="tableinform" config="scanform" form="form" formchange="formchange" list2="list[tableinform]" 
                formdisabled="formdisabled" submit-fn="Submit(form)"></entryform>

  </div>

  <div ng-if="formedit" class="addform">
    <div ng-controller="AddtoTableCtrl">
      <entryform config="addform" formchange="formchange" submit-fn="SubmitAddtoList(form)"></entryform>
    </div>
    <!--<div ng-controller="AddtoTableCtrl">
      <entryform config="addform2" formchange="formchange" submit-fn="SubmitAddtoList(form)"></entryform>
    </div>-->
  </div>

</div>

<div class="panel grey not" ng-show="current.collectionid">
  <div class="itemsframe entries" ng-controller="DisplayItemsCtrl">
    <div ng-controller="RemoveScanCtrl">

      <bufferedscrolllist itemlist="list.included" config="itemlistconfig" update-fn="RemoveItem(str)" second-fn="Reprint(str)"></bufferedscrolllist>

    </div>
  </div>
  <div ng-if="station_info.itemtotals" ng-controller="TotalsCtrl" class="itemtotals">
    <list itemlist="totals"  config="totallistconfig" istotal="istotal"></list>
  </div>
  <div ng-controller="CompleteLotCtrl">
    <button ng-if="options.completelot  && current.collectionid && current.collectionid!=='no selected'" 
            ng-disabled="current.completed===true" class="btn-blue" id="complete-lot"
            ng-click="CompleteLot(current.collectionid, options.completelot)">Complete Lot</button>
    {{current.completed}}
  </div>
</div>
